/*
plexsphere API

HTTP contract for plexsphere's meta endpoints (health, version, self-describing OpenAPI), the identity sign-in / token endpoints , and the admin IdP-binding management surface. The specification is the single source of truth — server stubs, clients, and documentation are generated from this file .  CSRF defence-in-depth (issue #181): every state-changing cookie-authenticated `/v1/_*` request (`POST`, `PATCH`, `PUT`, `DELETE`) is required to carry both an Origin / Sec-Fetch-Site signal AND echo the `plexsphere_csrf` cookie value in the `X-Plexsphere-CSRF` header. Violations surface as `403 application/problem+json` with `code` ∈ { `csrf-token-mismatch`, `csrf-origin-mismatch`, `csrf-origin-not-configured` }. Bearer-authenticated requests (`Authorization: Bearer …`) are exempt because the bearer scheme is not auto-attached by browsers; the sign-in surface (`/v1/auth/_*`) is exempt because it cannot carry a Principal yet.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package plexsphere

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

type CapabilitiesAPI interface {

	/*
		ListCapabilities List per-Node capability manifests in a Project.

		Returns a cursor-paginated page of per-Node capability rows in the named Project. Each row pairs a Node's reported agent binary with a checksum status — `match` when the reported checksum equals a known-good artifact, `drift` when it differs, and `unknown` when no known-good artifact is on record. The handler runs the platform read gate before the persistence read, then layers a per-row visibility filter on the Domain owning each Node so `items` is the subset the caller is authorised to see.  The pagination cursor is HMAC-signed and bound to the per-(caller, pepper) pseudonym; a cross-caller replay surfaces as `403 cursor_binding_mismatch`, and a tampered or malformed cursor surfaces as `400 invalid_cursor`. `limit` is clamped to `[1, 200]` rather than rejected.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param projectId Owning Project (UUIDv7). The capability inventory is scoped to Nodes in this Project.
		@return ApiListCapabilitiesRequest
	*/
	ListCapabilities(ctx context.Context, projectId string) ApiListCapabilitiesRequest

	// ListCapabilitiesExecute executes the request
	//  @return CapabilityRowList
	ListCapabilitiesExecute(r ApiListCapabilitiesRequest) (*CapabilityRowList, *http.Response, error)
}

// CapabilitiesAPIService CapabilitiesAPI service
type CapabilitiesAPIService service

type ApiListCapabilitiesRequest struct {
	ctx        context.Context
	ApiService CapabilitiesAPI
	projectId  string
	nodeId     *string
	status     *CapabilityStatus
	cursor     *string
	limit      *int32
}

// Optional Node filter. When present, only the capability row for the named Node is returned.
func (r ApiListCapabilitiesRequest) NodeId(nodeId string) ApiListCapabilitiesRequest {
	r.nodeId = &nodeId
	return r
}

// Optional checksum-status filter. When present, only rows in the named status are returned.
func (r ApiListCapabilitiesRequest) Status(status CapabilityStatus) ApiListCapabilitiesRequest {
	r.status = &status
	return r
}

// Opaque continuation token returned by a previous call&#39;s &#x60;next_cursor&#x60;. The encoding is HMAC-signed so a tampered cursor surfaces as &#x60;400&#x60;.
func (r ApiListCapabilitiesRequest) Cursor(cursor string) ApiListCapabilitiesRequest {
	r.cursor = &cursor
	return r
}

// Maximum number of items to return in a single page. The handler clamps the value to [1, 200] before forwarding it to the read service.
func (r ApiListCapabilitiesRequest) Limit(limit int32) ApiListCapabilitiesRequest {
	r.limit = &limit
	return r
}

func (r ApiListCapabilitiesRequest) Execute() (*CapabilityRowList, *http.Response, error) {
	return r.ApiService.ListCapabilitiesExecute(r)
}

/*
ListCapabilities List per-Node capability manifests in a Project.

Returns a cursor-paginated page of per-Node capability rows in the named Project. Each row pairs a Node's reported agent binary with a checksum status — `match` when the reported checksum equals a known-good artifact, `drift` when it differs, and `unknown` when no known-good artifact is on record. The handler runs the platform read gate before the persistence read, then layers a per-row visibility filter on the Domain owning each Node so `items` is the subset the caller is authorised to see.  The pagination cursor is HMAC-signed and bound to the per-(caller, pepper) pseudonym; a cross-caller replay surfaces as `403 cursor_binding_mismatch`, and a tampered or malformed cursor surfaces as `400 invalid_cursor`. `limit` is clamped to `[1, 200]` rather than rejected.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param projectId Owning Project (UUIDv7). The capability inventory is scoped to Nodes in this Project.
	@return ApiListCapabilitiesRequest
*/
func (a *CapabilitiesAPIService) ListCapabilities(ctx context.Context, projectId string) ApiListCapabilitiesRequest {
	return ApiListCapabilitiesRequest{
		ApiService: a,
		ctx:        ctx,
		projectId:  projectId,
	}
}

// Execute executes the request
//
//	@return CapabilityRowList
func (a *CapabilitiesAPIService) ListCapabilitiesExecute(r ApiListCapabilitiesRequest) (*CapabilityRowList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CapabilityRowList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CapabilitiesAPIService.ListCapabilities")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/projects/{project_id}/capabilities"
	localVarPath = strings.Replace(localVarPath, "{"+"project_id"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.nodeId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "node_id", r.nodeId, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 50
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v PermissionDenied
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
