/*
plexsphere API

HTTP contract for plexsphere's meta endpoints (health, version, self-describing OpenAPI), the identity sign-in / token endpoints , and the admin IdP-binding management surface. The specification is the single source of truth — server stubs, clients, and documentation are generated from this file .  CSRF defence-in-depth (issue #181): every state-changing cookie-authenticated `/v1/_*` request (`POST`, `PATCH`, `PUT`, `DELETE`) is required to carry both an Origin / Sec-Fetch-Site signal AND echo the `plexsphere_csrf` cookie value in the `X-Plexsphere-CSRF` header. Violations surface as `403 application/problem+json` with `code` ∈ { `csrf-token-mismatch`, `csrf-origin-mismatch`, `csrf-origin-not-configured` }. Bearer-authenticated requests (`Authorization: Bearer …`) are exempt because the bearer scheme is not auto-attached by browsers; the sign-in surface (`/v1/auth/_*`) is exempt because it cannot carry a Principal yet.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package plexsphere

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

type AuthzAPI interface {

	/*
		CreateRelationTuple Create a relation tuple under a Project.

		Persists a new relation tuple `(subject, relation, resource)` scoped to the addressed Project (selected by the required `project_id` query parameter). The handler authorises `manage` on `project:<id>` BEFORE invoking the service so an unauthorised caller never produces a `RelationTupleCreated` outbox row.  The optional `caveat_context` is the set of caveat field NAMES the tuple carries — never values. Carrying values across the contract boundary would leak request-time data into persisted ReBAC state; the audit row records the same NAMES- only projection so the cross-boundary invariant survives through the projection layer.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiCreateRelationTupleRequest
	*/
	CreateRelationTuple(ctx context.Context) ApiCreateRelationTupleRequest

	// CreateRelationTupleExecute executes the request
	//  @return RelationTuple
	CreateRelationTupleExecute(r ApiCreateRelationTupleRequest) (*RelationTuple, *http.Response, error)

	/*
		DeleteRelationTuple Delete a relation tuple.

		Deletes the relation tuple identified by `{id}`. The operation is idempotent — a `{id}` that was already deleted surfaces as `404 relation_tuple_not_found` rather than `204`, so a caller racing two deletes can distinguish \"I deleted it\" from \"someone else got there first\" without leaking existence side-channels (the read path runs the same authz check before the lookup).

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param id Relation tuple identifier (UUIDv7). Bound on `/v1/authz/relation-tuples/{id}` for the per-tuple PATCH / DELETE surface.
		@return ApiDeleteRelationTupleRequest
	*/
	DeleteRelationTuple(ctx context.Context, id string) ApiDeleteRelationTupleRequest

	// DeleteRelationTupleExecute executes the request
	DeleteRelationTupleExecute(r ApiDeleteRelationTupleRequest) (*http.Response, error)

	/*
		ListRelationTuples List relation tuples scoped to a Project.

		Returns a page of relation tuples persisted under the addressed Project (selected by the required `project_id` query parameter). Per-row visibility is layered on top of the page — rows the caller cannot `read` are filtered out so the response items are a subset of the persistence-level page. Cursor pagination mirrors `/v1/projects` exactly.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiListRelationTuplesRequest
	*/
	ListRelationTuples(ctx context.Context) ApiListRelationTuplesRequest

	// ListRelationTuplesExecute executes the request
	//  @return RelationTupleList
	ListRelationTuplesExecute(r ApiListRelationTuplesRequest) (*RelationTupleList, *http.Response, error)

	/*
		PatchRelationTuple Replace a relation tuple's contents (delete-then-write).

		Replaces the relation tuple identified by `{id}`. The handler implements Delete-then-Write semantics — the existing tuple is deleted and a new tuple persisted in the same transaction so cursor-paginated readers never observe a half-applied state.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param id Relation tuple identifier (UUIDv7). Bound on `/v1/authz/relation-tuples/{id}` for the per-tuple PATCH / DELETE surface.
		@return ApiPatchRelationTupleRequest
	*/
	PatchRelationTuple(ctx context.Context, id string) ApiPatchRelationTupleRequest

	// PatchRelationTupleExecute executes the request
	//  @return RelationTuple
	PatchRelationTupleExecute(r ApiPatchRelationTupleRequest) (*RelationTuple, *http.Response, error)

	/*
		PostAuthzCheck Run a ReBAC permission check.

		Evaluates the ReBAC tuple graph and (optional) caveat program for the addressed (`subject`, `relation`, `resource`) triple and returns the decision as data on `200`.  DECISION: a denial surfaces as `200 { decision: denied, reason }`, NEVER as `403`. The HTTP layer reserves `403` for transport denials (the caller is not even authorised to USE the check endpoint). Mixing the two would force callers to disambiguate infrastructure failures from policy outcomes by parsing the Problem body, defeating the point of treating denials as a first-class result.  The `correlation_id` echoed on every response pairs the result with the matching audit entry emitted by `internal/audit`.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiPostAuthzCheckRequest
	*/
	PostAuthzCheck(ctx context.Context) ApiPostAuthzCheckRequest

	// PostAuthzCheckExecute executes the request
	//  @return RebacCheckResponse
	PostAuthzCheckExecute(r ApiPostAuthzCheckRequest) (*RebacCheckResponse, *http.Response, error)

	/*
		PostAuthzLookupResources List the resources a subject can reach via a relation.

		Enumerates every resource of `resource_type` on which the addressed `subject` holds `relation`, evaluating the ReBAC tuple graph and the optional caveat program.  DECISION: the enumeration is materialised data on `200`, like `/v1/authz/check`. An empty result is a normal answer, NEVER an HTTP error, and there is no `403` — mirroring the Check endpoint's posture that ReBAC outcomes are first-class data, not transport failures.  The `correlation_id` echoed on the response pairs the result with the matching audit entry emitted by `internal/audit`.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiPostAuthzLookupResourcesRequest
	*/
	PostAuthzLookupResources(ctx context.Context) ApiPostAuthzLookupResourcesRequest

	// PostAuthzLookupResourcesExecute executes the request
	//  @return RebacLookupResponse
	PostAuthzLookupResourcesExecute(r ApiPostAuthzLookupResourcesRequest) (*RebacLookupResponse, *http.Response, error)

	/*
		PostAuthzLookupSubjects List the subjects that can reach a resource via a relation.

		The dual of `/v1/authz/lookup-resources`: enumerates every subject of `subject_type` that holds `relation` on the addressed `resource`, evaluating the ReBAC tuple graph and the optional caveat program.  DECISION: identical posture to `/v1/authz/lookup-resources` and `/v1/authz/check` — the enumeration is materialised data on `200`, an empty result is a normal answer, and there is no `403`.  The `correlation_id` echoed on the response pairs the result with the matching audit entry emitted by `internal/audit`.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiPostAuthzLookupSubjectsRequest
	*/
	PostAuthzLookupSubjects(ctx context.Context) ApiPostAuthzLookupSubjectsRequest

	// PostAuthzLookupSubjectsExecute executes the request
	//  @return RebacLookupResponse
	PostAuthzLookupSubjectsExecute(r ApiPostAuthzLookupSubjectsRequest) (*RebacLookupResponse, *http.Response, error)
}

// AuthzAPIService AuthzAPI service
type AuthzAPIService service

type ApiCreateRelationTupleRequest struct {
	ctx                        context.Context
	ApiService                 AuthzAPI
	projectId                  *string
	relationTupleCreateRequest *RelationTupleCreateRequest
}

// Owning Project (UUIDv7).
func (r ApiCreateRelationTupleRequest) ProjectId(projectId string) ApiCreateRelationTupleRequest {
	r.projectId = &projectId
	return r
}

func (r ApiCreateRelationTupleRequest) RelationTupleCreateRequest(relationTupleCreateRequest RelationTupleCreateRequest) ApiCreateRelationTupleRequest {
	r.relationTupleCreateRequest = &relationTupleCreateRequest
	return r
}

func (r ApiCreateRelationTupleRequest) Execute() (*RelationTuple, *http.Response, error) {
	return r.ApiService.CreateRelationTupleExecute(r)
}

/*
CreateRelationTuple Create a relation tuple under a Project.

Persists a new relation tuple `(subject, relation, resource)` scoped to the addressed Project (selected by the required `project_id` query parameter). The handler authorises `manage` on `project:<id>` BEFORE invoking the service so an unauthorised caller never produces a `RelationTupleCreated` outbox row.  The optional `caveat_context` is the set of caveat field NAMES the tuple carries — never values. Carrying values across the contract boundary would leak request-time data into persisted ReBAC state; the audit row records the same NAMES- only projection so the cross-boundary invariant survives through the projection layer.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateRelationTupleRequest
*/
func (a *AuthzAPIService) CreateRelationTuple(ctx context.Context) ApiCreateRelationTupleRequest {
	return ApiCreateRelationTupleRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RelationTuple
func (a *AuthzAPIService) CreateRelationTupleExecute(r ApiCreateRelationTupleRequest) (*RelationTuple, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RelationTuple
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthzAPIService.CreateRelationTuple")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/authz/relation-tuples"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectId == nil {
		return localVarReturnValue, nil, reportError("projectId is required and must be specified")
	}
	if r.relationTupleCreateRequest == nil {
		return localVarReturnValue, nil, reportError("relationTupleCreateRequest is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.relationTupleCreateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v PermissionDenied
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 413 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteRelationTupleRequest struct {
	ctx        context.Context
	ApiService AuthzAPI
	id         string
}

func (r ApiDeleteRelationTupleRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteRelationTupleExecute(r)
}

/*
DeleteRelationTuple Delete a relation tuple.

Deletes the relation tuple identified by `{id}`. The operation is idempotent — a `{id}` that was already deleted surfaces as `404 relation_tuple_not_found` rather than `204`, so a caller racing two deletes can distinguish \"I deleted it\" from \"someone else got there first\" without leaking existence side-channels (the read path runs the same authz check before the lookup).

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Relation tuple identifier (UUIDv7). Bound on `/v1/authz/relation-tuples/{id}` for the per-tuple PATCH / DELETE surface.
	@return ApiDeleteRelationTupleRequest
*/
func (a *AuthzAPIService) DeleteRelationTuple(ctx context.Context, id string) ApiDeleteRelationTupleRequest {
	return ApiDeleteRelationTupleRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *AuthzAPIService) DeleteRelationTupleExecute(r ApiDeleteRelationTupleRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthzAPIService.DeleteRelationTuple")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/authz/relation-tuples/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v PermissionDenied
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiListRelationTuplesRequest struct {
	ctx        context.Context
	ApiService AuthzAPI
	projectId  *string
	cursor     *string
	limit      *int32
}

// Owning Project (UUIDv7). Relation-tuple administration is scoped per Project so every list call resolves to a single Project&#39;s tuples.
func (r ApiListRelationTuplesRequest) ProjectId(projectId string) ApiListRelationTuplesRequest {
	r.projectId = &projectId
	return r
}

// Opaque continuation token returned by a previous call&#39;s &#x60;next_cursor&#x60;. The encoding is HMAC-signed by the server so a tampered cursor surfaces as &#x60;400&#x60;.
func (r ApiListRelationTuplesRequest) Cursor(cursor string) ApiListRelationTuplesRequest {
	r.cursor = &cursor
	return r
}

// Maximum number of items to return in a single page. The handler clamps the value to [1, 200] before forwarding it to the service.
func (r ApiListRelationTuplesRequest) Limit(limit int32) ApiListRelationTuplesRequest {
	r.limit = &limit
	return r
}

func (r ApiListRelationTuplesRequest) Execute() (*RelationTupleList, *http.Response, error) {
	return r.ApiService.ListRelationTuplesExecute(r)
}

/*
ListRelationTuples List relation tuples scoped to a Project.

Returns a page of relation tuples persisted under the addressed Project (selected by the required `project_id` query parameter). Per-row visibility is layered on top of the page — rows the caller cannot `read` are filtered out so the response items are a subset of the persistence-level page. Cursor pagination mirrors `/v1/projects` exactly.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiListRelationTuplesRequest
*/
func (a *AuthzAPIService) ListRelationTuples(ctx context.Context) ApiListRelationTuplesRequest {
	return ApiListRelationTuplesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RelationTupleList
func (a *AuthzAPIService) ListRelationTuplesExecute(r ApiListRelationTuplesRequest) (*RelationTupleList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RelationTupleList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthzAPIService.ListRelationTuples")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/authz/relation-tuples"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.projectId == nil {
		return localVarReturnValue, nil, reportError("projectId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 50
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v PermissionDenied
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPatchRelationTupleRequest struct {
	ctx                       context.Context
	ApiService                AuthzAPI
	id                        string
	relationTuplePatchRequest *RelationTuplePatchRequest
}

func (r ApiPatchRelationTupleRequest) RelationTuplePatchRequest(relationTuplePatchRequest RelationTuplePatchRequest) ApiPatchRelationTupleRequest {
	r.relationTuplePatchRequest = &relationTuplePatchRequest
	return r
}

func (r ApiPatchRelationTupleRequest) Execute() (*RelationTuple, *http.Response, error) {
	return r.ApiService.PatchRelationTupleExecute(r)
}

/*
PatchRelationTuple Replace a relation tuple's contents (delete-then-write).

Replaces the relation tuple identified by `{id}`. The handler implements Delete-then-Write semantics — the existing tuple is deleted and a new tuple persisted in the same transaction so cursor-paginated readers never observe a half-applied state.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Relation tuple identifier (UUIDv7). Bound on `/v1/authz/relation-tuples/{id}` for the per-tuple PATCH / DELETE surface.
	@return ApiPatchRelationTupleRequest
*/
func (a *AuthzAPIService) PatchRelationTuple(ctx context.Context, id string) ApiPatchRelationTupleRequest {
	return ApiPatchRelationTupleRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return RelationTuple
func (a *AuthzAPIService) PatchRelationTupleExecute(r ApiPatchRelationTupleRequest) (*RelationTuple, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPatch
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RelationTuple
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthzAPIService.PatchRelationTuple")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/authz/relation-tuples/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.relationTuplePatchRequest == nil {
		return localVarReturnValue, nil, reportError("relationTuplePatchRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.relationTuplePatchRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v PermissionDenied
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 413 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostAuthzCheckRequest struct {
	ctx               context.Context
	ApiService        AuthzAPI
	rebacCheckRequest *RebacCheckRequest
}

func (r ApiPostAuthzCheckRequest) RebacCheckRequest(rebacCheckRequest RebacCheckRequest) ApiPostAuthzCheckRequest {
	r.rebacCheckRequest = &rebacCheckRequest
	return r
}

func (r ApiPostAuthzCheckRequest) Execute() (*RebacCheckResponse, *http.Response, error) {
	return r.ApiService.PostAuthzCheckExecute(r)
}

/*
PostAuthzCheck Run a ReBAC permission check.

Evaluates the ReBAC tuple graph and (optional) caveat program for the addressed (`subject`, `relation`, `resource`) triple and returns the decision as data on `200`.  DECISION: a denial surfaces as `200 { decision: denied, reason }`, NEVER as `403`. The HTTP layer reserves `403` for transport denials (the caller is not even authorised to USE the check endpoint). Mixing the two would force callers to disambiguate infrastructure failures from policy outcomes by parsing the Problem body, defeating the point of treating denials as a first-class result.  The `correlation_id` echoed on every response pairs the result with the matching audit entry emitted by `internal/audit`.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiPostAuthzCheckRequest
*/
func (a *AuthzAPIService) PostAuthzCheck(ctx context.Context) ApiPostAuthzCheckRequest {
	return ApiPostAuthzCheckRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RebacCheckResponse
func (a *AuthzAPIService) PostAuthzCheckExecute(r ApiPostAuthzCheckRequest) (*RebacCheckResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RebacCheckResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthzAPIService.PostAuthzCheck")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/authz/check"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.rebacCheckRequest == nil {
		return localVarReturnValue, nil, reportError("rebacCheckRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.rebacCheckRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 413 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostAuthzLookupResourcesRequest struct {
	ctx                    context.Context
	ApiService             AuthzAPI
	lookupResourcesRequest *LookupResourcesRequest
}

func (r ApiPostAuthzLookupResourcesRequest) LookupResourcesRequest(lookupResourcesRequest LookupResourcesRequest) ApiPostAuthzLookupResourcesRequest {
	r.lookupResourcesRequest = &lookupResourcesRequest
	return r
}

func (r ApiPostAuthzLookupResourcesRequest) Execute() (*RebacLookupResponse, *http.Response, error) {
	return r.ApiService.PostAuthzLookupResourcesExecute(r)
}

/*
PostAuthzLookupResources List the resources a subject can reach via a relation.

Enumerates every resource of `resource_type` on which the addressed `subject` holds `relation`, evaluating the ReBAC tuple graph and the optional caveat program.  DECISION: the enumeration is materialised data on `200`, like `/v1/authz/check`. An empty result is a normal answer, NEVER an HTTP error, and there is no `403` — mirroring the Check endpoint's posture that ReBAC outcomes are first-class data, not transport failures.  The `correlation_id` echoed on the response pairs the result with the matching audit entry emitted by `internal/audit`.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiPostAuthzLookupResourcesRequest
*/
func (a *AuthzAPIService) PostAuthzLookupResources(ctx context.Context) ApiPostAuthzLookupResourcesRequest {
	return ApiPostAuthzLookupResourcesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RebacLookupResponse
func (a *AuthzAPIService) PostAuthzLookupResourcesExecute(r ApiPostAuthzLookupResourcesRequest) (*RebacLookupResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RebacLookupResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthzAPIService.PostAuthzLookupResources")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/authz/lookup-resources"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.lookupResourcesRequest == nil {
		return localVarReturnValue, nil, reportError("lookupResourcesRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.lookupResourcesRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 413 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostAuthzLookupSubjectsRequest struct {
	ctx                   context.Context
	ApiService            AuthzAPI
	lookupSubjectsRequest *LookupSubjectsRequest
}

func (r ApiPostAuthzLookupSubjectsRequest) LookupSubjectsRequest(lookupSubjectsRequest LookupSubjectsRequest) ApiPostAuthzLookupSubjectsRequest {
	r.lookupSubjectsRequest = &lookupSubjectsRequest
	return r
}

func (r ApiPostAuthzLookupSubjectsRequest) Execute() (*RebacLookupResponse, *http.Response, error) {
	return r.ApiService.PostAuthzLookupSubjectsExecute(r)
}

/*
PostAuthzLookupSubjects List the subjects that can reach a resource via a relation.

The dual of `/v1/authz/lookup-resources`: enumerates every subject of `subject_type` that holds `relation` on the addressed `resource`, evaluating the ReBAC tuple graph and the optional caveat program.  DECISION: identical posture to `/v1/authz/lookup-resources` and `/v1/authz/check` — the enumeration is materialised data on `200`, an empty result is a normal answer, and there is no `403`.  The `correlation_id` echoed on the response pairs the result with the matching audit entry emitted by `internal/audit`.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiPostAuthzLookupSubjectsRequest
*/
func (a *AuthzAPIService) PostAuthzLookupSubjects(ctx context.Context) ApiPostAuthzLookupSubjectsRequest {
	return ApiPostAuthzLookupSubjectsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return RebacLookupResponse
func (a *AuthzAPIService) PostAuthzLookupSubjectsExecute(r ApiPostAuthzLookupSubjectsRequest) (*RebacLookupResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *RebacLookupResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthzAPIService.PostAuthzLookupSubjects")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/authz/lookup-subjects"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.lookupSubjectsRequest == nil {
		return localVarReturnValue, nil, reportError("lookupSubjectsRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.lookupSubjectsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 413 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
