/*
plexsphere API

HTTP contract for plexsphere's meta endpoints (health, version, self-describing OpenAPI), the identity sign-in / token endpoints , and the admin IdP-binding management surface. The specification is the single source of truth — server stubs, clients, and documentation are generated from this file .  CSRF defence-in-depth (issue #181): every state-changing cookie-authenticated `/v1/_*` request (`POST`, `PATCH`, `PUT`, `DELETE`) is required to carry both an Origin / Sec-Fetch-Site signal AND echo the `plexsphere_csrf` cookie value in the `X-Plexsphere-CSRF` header. Violations surface as `403 application/problem+json` with `code` ∈ { `csrf-token-mismatch`, `csrf-origin-mismatch`, `csrf-origin-not-configured` }. Bearer-authenticated requests (`Authorization: Bearer …`) are exempt because the bearer scheme is not auto-attached by browsers; the sign-in surface (`/v1/auth/_*`) is exempt because it cannot carry a Principal yet.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package plexsphere

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

type ActionsAPI interface {

	/*
		DispatchExecution Dispatch an action to a single Node or a label-selected cohort.

		Dispatches a named action — a built-in shipped with the Node agent or a user-declared hook — to a target set inside the owning Project. The handler runs the dispatch ReBAC check on the Project BEFORE any persistence write, resolves the target cohort (either a single `node_id` or the Nodes matching an opaque label `selector`), gates the dispatch on capability availability and hook integrity, then mints one Execution that fans out to one per-Node invocation. Each invocation carries a unique callback URL under `/v1/nodes/{id}/executions/{exec_id}` the Node reports progress back to.  The request body supplies the `action` name, the action `type` (`builtin` or `hook`), an opaque `parameters` JSON document, and an optional `timeout_seconds`. The target is EXACTLY ONE of a single `node_id` or an opaque label `selector` — supplying both, or neither, is rejected.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param projectId Owning Project. The Action Orchestrator dispatch and read operations are scoped per Project, so every operator-facing endpoint requires the Project identifier in the path.
		@return ApiDispatchExecutionRequest
	*/
	DispatchExecution(ctx context.Context, projectId string) ApiDispatchExecutionRequest

	// DispatchExecutionExecute executes the request
	//  @return Execution
	DispatchExecutionExecute(r ApiDispatchExecutionRequest) (*Execution, *http.Response, error)

	/*
		GetExecution Inspect a single action Execution.

		Returns the metadata-only projection of the Execution identified by `{execution_id}` within the owning Project. The handler runs the execution-read ReBAC check on the Project BEFORE the persistence read.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param projectId Owning Project. The Action Orchestrator dispatch and read operations are scoped per Project, so every operator-facing endpoint requires the Project identifier in the path.
		@param executionId Execution identifier (UUIDv7). Bound on `/v1/projects/{project_id}/executions/{execution_id}` for the single-Execution read.
		@return ApiGetExecutionRequest
	*/
	GetExecution(ctx context.Context, projectId string, executionId string) ApiGetExecutionRequest

	// GetExecutionExecute executes the request
	//  @return Execution
	GetExecutionExecute(r ApiGetExecutionRequest) (*Execution, *http.Response, error)

	/*
		ListExecutions List action Executions for a Project.

		Returns a creation-ordered page of Execution lifecycle metadata for the owning Project, optionally narrowed to a single aggregate `status` and/or a single `action_name`. The handler runs the execution-read ReBAC check on the Project BEFORE the persistence read. The projection is metadata-only — it carries the action identity, the aggregate status, and the per-Node targets, but no secret or token columns.  The pagination cursor is opaque and HMAC-signed by the server, so a tampered cursor surfaces as `400` on the next call.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param projectId Owning Project. The Action Orchestrator dispatch and read operations are scoped per Project, so every operator-facing endpoint requires the Project identifier in the path.
		@return ApiListExecutionsRequest
	*/
	ListExecutions(ctx context.Context, projectId string) ApiListExecutionsRequest

	// ListExecutionsExecute executes the request
	//  @return ExecutionList
	ListExecutionsExecute(r ApiListExecutionsRequest) (*ExecutionList, *http.Response, error)

	/*
		PostNodeExecutionCallback Report an action-execution status advance from a Node.

		Accepts a per-Node action-execution result callback from plexd and drives the addressed invocation through the closed status state machine. The handler:    1. Authenticates the caller against the Node Secret Key (NSK)      plaintext supplied in the `Authorization: Bearer` header,      rejecting revoked credentials with 401.   2. Asserts that the NSK belongs to the Node addressed by the      path `id`, refusing cross-Node use with 403      `nsk_node_mismatch` so a leaked NSK cannot be replayed      against a sibling Node's invocation.   3. Drives the invocation addressed by `{exec_id}` to the      reported `status` through a server-side compare-and-set      against the closed state machine      (`ack → started → (succeeded | failed | cancelled |      timeout)`). An illegal advance returns 409      `invalid_state_transition`; a re-post onto an already-settled      invocation returns 409 `execution_already_terminal`.   4. Collects the reported output. A bounded inline `output`      (≤ 16 KiB) is stored in the control plane; an inline body      over the ceiling is refused with 413      `inline_output_too_large`. When the Node declares an      over-ceiling output, the FIRST callback's 200 response      carries an `output_upload_url` — a presigned object-store      PUT URL the Node uploads the full body to before sending the      terminal callback.  DEFERRED-WIRING POSTURE: until the production composition root supplies the callback service and its NSK validator, every request to this endpoint returns 501 with `code: execution_callback_not_provisioned` so log scrapers can alert on the deferred-wiring state.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param id Node identifier (UUIDv7) — the callback scope.
		@param execId Execution identifier (UUIDv7) the callback settles.
		@return ApiPostNodeExecutionCallbackRequest
	*/
	PostNodeExecutionCallback(ctx context.Context, id string, execId string) ApiPostNodeExecutionCallbackRequest

	// PostNodeExecutionCallbackExecute executes the request
	//  @return ExecutionCallbackResponse
	PostNodeExecutionCallbackExecute(r ApiPostNodeExecutionCallbackRequest) (*ExecutionCallbackResponse, *http.Response, error)
}

// ActionsAPIService ActionsAPI service
type ActionsAPIService service

type ApiDispatchExecutionRequest struct {
	ctx                      context.Context
	ApiService               ActionsAPI
	projectId                string
	dispatchExecutionRequest *DispatchExecutionRequest
}

func (r ApiDispatchExecutionRequest) DispatchExecutionRequest(dispatchExecutionRequest DispatchExecutionRequest) ApiDispatchExecutionRequest {
	r.dispatchExecutionRequest = &dispatchExecutionRequest
	return r
}

func (r ApiDispatchExecutionRequest) Execute() (*Execution, *http.Response, error) {
	return r.ApiService.DispatchExecutionExecute(r)
}

/*
DispatchExecution Dispatch an action to a single Node or a label-selected cohort.

Dispatches a named action — a built-in shipped with the Node agent or a user-declared hook — to a target set inside the owning Project. The handler runs the dispatch ReBAC check on the Project BEFORE any persistence write, resolves the target cohort (either a single `node_id` or the Nodes matching an opaque label `selector`), gates the dispatch on capability availability and hook integrity, then mints one Execution that fans out to one per-Node invocation. Each invocation carries a unique callback URL under `/v1/nodes/{id}/executions/{exec_id}` the Node reports progress back to.  The request body supplies the `action` name, the action `type` (`builtin` or `hook`), an opaque `parameters` JSON document, and an optional `timeout_seconds`. The target is EXACTLY ONE of a single `node_id` or an opaque label `selector` — supplying both, or neither, is rejected.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param projectId Owning Project. The Action Orchestrator dispatch and read operations are scoped per Project, so every operator-facing endpoint requires the Project identifier in the path.
	@return ApiDispatchExecutionRequest
*/
func (a *ActionsAPIService) DispatchExecution(ctx context.Context, projectId string) ApiDispatchExecutionRequest {
	return ApiDispatchExecutionRequest{
		ApiService: a,
		ctx:        ctx,
		projectId:  projectId,
	}
}

// Execute executes the request
//
//	@return Execution
func (a *ActionsAPIService) DispatchExecutionExecute(r ApiDispatchExecutionRequest) (*Execution, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Execution
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ActionsAPIService.DispatchExecution")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/projects/{project_id}/executions:dispatch"
	localVarPath = strings.Replace(localVarPath, "{"+"project_id"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.dispatchExecutionRequest == nil {
		return localVarReturnValue, nil, reportError("dispatchExecutionRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.dispatchExecutionRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v PermissionDenied
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 501 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetExecutionRequest struct {
	ctx         context.Context
	ApiService  ActionsAPI
	projectId   string
	executionId string
}

func (r ApiGetExecutionRequest) Execute() (*Execution, *http.Response, error) {
	return r.ApiService.GetExecutionExecute(r)
}

/*
GetExecution Inspect a single action Execution.

Returns the metadata-only projection of the Execution identified by `{execution_id}` within the owning Project. The handler runs the execution-read ReBAC check on the Project BEFORE the persistence read.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param projectId Owning Project. The Action Orchestrator dispatch and read operations are scoped per Project, so every operator-facing endpoint requires the Project identifier in the path.
	@param executionId Execution identifier (UUIDv7). Bound on `/v1/projects/{project_id}/executions/{execution_id}` for the single-Execution read.
	@return ApiGetExecutionRequest
*/
func (a *ActionsAPIService) GetExecution(ctx context.Context, projectId string, executionId string) ApiGetExecutionRequest {
	return ApiGetExecutionRequest{
		ApiService:  a,
		ctx:         ctx,
		projectId:   projectId,
		executionId: executionId,
	}
}

// Execute executes the request
//
//	@return Execution
func (a *ActionsAPIService) GetExecutionExecute(r ApiGetExecutionRequest) (*Execution, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Execution
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ActionsAPIService.GetExecution")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/projects/{project_id}/executions/{execution_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"project_id"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"execution_id"+"}", url.PathEscape(parameterValueToString(r.executionId, "executionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v PermissionDenied
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 501 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListExecutionsRequest struct {
	ctx        context.Context
	ApiService ActionsAPI
	projectId  string
	status     *ExecutionStatus
	actionName *string
	cursor     *string
	limit      *int32
}

// Optional aggregate-status filter. When present, only Executions whose aggregate status equals the named value are returned.
func (r ApiListExecutionsRequest) Status(status ExecutionStatus) ApiListExecutionsRequest {
	r.status = &status
	return r
}

// Optional action-name filter. When present, only Executions for the named action are returned.
func (r ApiListExecutionsRequest) ActionName(actionName string) ApiListExecutionsRequest {
	r.actionName = &actionName
	return r
}

// Opaque continuation token returned by a previous call&#39;s &#x60;next_cursor&#x60;. The encoding is HMAC-signed by the server so a tampered cursor surfaces as &#x60;400&#x60;.
func (r ApiListExecutionsRequest) Cursor(cursor string) ApiListExecutionsRequest {
	r.cursor = &cursor
	return r
}

// Maximum number of items to return in a single page. The handler clamps the value to [1, 200] before forwarding it to the read service.
func (r ApiListExecutionsRequest) Limit(limit int32) ApiListExecutionsRequest {
	r.limit = &limit
	return r
}

func (r ApiListExecutionsRequest) Execute() (*ExecutionList, *http.Response, error) {
	return r.ApiService.ListExecutionsExecute(r)
}

/*
ListExecutions List action Executions for a Project.

Returns a creation-ordered page of Execution lifecycle metadata for the owning Project, optionally narrowed to a single aggregate `status` and/or a single `action_name`. The handler runs the execution-read ReBAC check on the Project BEFORE the persistence read. The projection is metadata-only — it carries the action identity, the aggregate status, and the per-Node targets, but no secret or token columns.  The pagination cursor is opaque and HMAC-signed by the server, so a tampered cursor surfaces as `400` on the next call.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param projectId Owning Project. The Action Orchestrator dispatch and read operations are scoped per Project, so every operator-facing endpoint requires the Project identifier in the path.
	@return ApiListExecutionsRequest
*/
func (a *ActionsAPIService) ListExecutions(ctx context.Context, projectId string) ApiListExecutionsRequest {
	return ApiListExecutionsRequest{
		ApiService: a,
		ctx:        ctx,
		projectId:  projectId,
	}
}

// Execute executes the request
//
//	@return ExecutionList
func (a *ActionsAPIService) ListExecutionsExecute(r ApiListExecutionsRequest) (*ExecutionList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ExecutionList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ActionsAPIService.ListExecutions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/projects/{project_id}/executions"
	localVarPath = strings.Replace(localVarPath, "{"+"project_id"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.actionName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "action_name", r.actionName, "form", "")
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 50
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v PermissionDenied
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 501 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostNodeExecutionCallbackRequest struct {
	ctx                      context.Context
	ApiService               ActionsAPI
	id                       string
	execId                   string
	authorization            *string
	executionCallbackRequest *ExecutionCallbackRequest
}

// &#x60;Bearer &lt;NSK plaintext&gt;&#x60; — the per-Node Node Secret Key issued at registration time. The NSK is bound to the Node addressed by the path &#x60;id&#x60;; a credential belonging to a different Node surfaces as 403 &#x60;nsk_node_mismatch&#x60;.
func (r ApiPostNodeExecutionCallbackRequest) Authorization(authorization string) ApiPostNodeExecutionCallbackRequest {
	r.authorization = &authorization
	return r
}

func (r ApiPostNodeExecutionCallbackRequest) ExecutionCallbackRequest(executionCallbackRequest ExecutionCallbackRequest) ApiPostNodeExecutionCallbackRequest {
	r.executionCallbackRequest = &executionCallbackRequest
	return r
}

func (r ApiPostNodeExecutionCallbackRequest) Execute() (*ExecutionCallbackResponse, *http.Response, error) {
	return r.ApiService.PostNodeExecutionCallbackExecute(r)
}

/*
PostNodeExecutionCallback Report an action-execution status advance from a Node.

Accepts a per-Node action-execution result callback from plexd and drives the addressed invocation through the closed status state machine. The handler:    1. Authenticates the caller against the Node Secret Key (NSK)      plaintext supplied in the `Authorization: Bearer` header,      rejecting revoked credentials with 401.   2. Asserts that the NSK belongs to the Node addressed by the      path `id`, refusing cross-Node use with 403      `nsk_node_mismatch` so a leaked NSK cannot be replayed      against a sibling Node's invocation.   3. Drives the invocation addressed by `{exec_id}` to the      reported `status` through a server-side compare-and-set      against the closed state machine      (`ack → started → (succeeded | failed | cancelled |      timeout)`). An illegal advance returns 409      `invalid_state_transition`; a re-post onto an already-settled      invocation returns 409 `execution_already_terminal`.   4. Collects the reported output. A bounded inline `output`      (≤ 16 KiB) is stored in the control plane; an inline body      over the ceiling is refused with 413      `inline_output_too_large`. When the Node declares an      over-ceiling output, the FIRST callback's 200 response      carries an `output_upload_url` — a presigned object-store      PUT URL the Node uploads the full body to before sending the      terminal callback.  DEFERRED-WIRING POSTURE: until the production composition root supplies the callback service and its NSK validator, every request to this endpoint returns 501 with `code: execution_callback_not_provisioned` so log scrapers can alert on the deferred-wiring state.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Node identifier (UUIDv7) — the callback scope.
	@param execId Execution identifier (UUIDv7) the callback settles.
	@return ApiPostNodeExecutionCallbackRequest
*/
func (a *ActionsAPIService) PostNodeExecutionCallback(ctx context.Context, id string, execId string) ApiPostNodeExecutionCallbackRequest {
	return ApiPostNodeExecutionCallbackRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
		execId:     execId,
	}
}

// Execute executes the request
//
//	@return ExecutionCallbackResponse
func (a *ActionsAPIService) PostNodeExecutionCallbackExecute(r ApiPostNodeExecutionCallbackRequest) (*ExecutionCallbackResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ExecutionCallbackResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ActionsAPIService.PostNodeExecutionCallback")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/nodes/{id}/executions/{exec_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"exec_id"+"}", url.PathEscape(parameterValueToString(r.execId, "execId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.authorization == nil {
		return localVarReturnValue, nil, reportError("authorization is required and must be specified")
	}
	if r.executionCallbackRequest == nil {
		return localVarReturnValue, nil, reportError("executionCallbackRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	// body params
	localVarPostBody = r.executionCallbackRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v PermissionDenied
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 413 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 501 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
