/*
plexsphere API

HTTP contract for plexsphere's meta endpoints (health, version, self-describing OpenAPI), the identity sign-in / token endpoints , and the admin IdP-binding management surface. The specification is the single source of truth — server stubs, clients, and documentation are generated from this file .  CSRF defence-in-depth (issue #181): every state-changing cookie-authenticated `/v1/_*` request (`POST`, `PATCH`, `PUT`, `DELETE`) is required to carry both an Origin / Sec-Fetch-Site signal AND echo the `plexsphere_csrf` cookie value in the `X-Plexsphere-CSRF` header. Violations surface as `403 application/problem+json` with `code` ∈ { `csrf-token-mismatch`, `csrf-origin-mismatch`, `csrf-origin-not-configured` }. Bearer-authenticated requests (`Authorization: Bearer …`) are exempt because the bearer scheme is not auto-attached by browsers; the sign-in surface (`/v1/auth/_*`) is exempt because it cannot carry a Principal yet.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package plexsphere

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

type HooksAPI interface {

	/*
		ListHooks List discovered hooks across Domains.

		Returns a cursor-paginated page of the Kubernetes hook custom resources the agents discovered in their clusters, optionally narrowed by owning Domain, Project, or whether the discovered image digest matches the declared one. The surface is strictly read-only — plexsphere records what the agent observed and never writes hook objects back. The handler runs the platform read gate before the persistence read, then layers a per-row visibility filter on the owning Domain so `items` is the subset the caller is authorised to see.  The pagination cursor is HMAC-signed and bound to the per-(caller, pepper) pseudonym; a cross-caller replay surfaces as `403 cursor_binding_mismatch`, and a tampered or malformed cursor surfaces as `400 invalid_cursor`. `limit` is clamped to `[1, 200]` rather than rejected.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiListHooksRequest
	*/
	ListHooks(ctx context.Context) ApiListHooksRequest

	// ListHooksExecute executes the request
	//  @return HookList
	ListHooksExecute(r ApiListHooksRequest) (*HookList, *http.Response, error)
}

// HooksAPIService HooksAPI service
type HooksAPIService service

type ApiListHooksRequest struct {
	ctx              context.Context
	ApiService       HooksAPI
	domainId         *string
	projectId        *string
	imageDigestMatch *bool
	cursor           *string
	limit            *int32
}

// Optional owning-Domain filter. When present, only hooks on the named Domain are returned.
func (r ApiListHooksRequest) DomainId(domainId string) ApiListHooksRequest {
	r.domainId = &domainId
	return r
}

// Optional Project filter. When present, only hooks on Nodes in the named Project are returned.
func (r ApiListHooksRequest) ProjectId(projectId string) ApiListHooksRequest {
	r.projectId = &projectId
	return r
}

// Optional drift filter. When &#x60;true&#x60;, only hooks whose discovered image digest matches the declared digest are returned; when &#x60;false&#x60;, only mismatches are returned.
func (r ApiListHooksRequest) ImageDigestMatch(imageDigestMatch bool) ApiListHooksRequest {
	r.imageDigestMatch = &imageDigestMatch
	return r
}

// Opaque continuation token returned by a previous call&#39;s &#x60;next_cursor&#x60;. The encoding is HMAC-signed so a tampered cursor surfaces as &#x60;400&#x60;.
func (r ApiListHooksRequest) Cursor(cursor string) ApiListHooksRequest {
	r.cursor = &cursor
	return r
}

// Maximum number of items to return in a single page. The handler clamps the value to [1, 200] before forwarding it to the read service.
func (r ApiListHooksRequest) Limit(limit int32) ApiListHooksRequest {
	r.limit = &limit
	return r
}

func (r ApiListHooksRequest) Execute() (*HookList, *http.Response, error) {
	return r.ApiService.ListHooksExecute(r)
}

/*
ListHooks List discovered hooks across Domains.

Returns a cursor-paginated page of the Kubernetes hook custom resources the agents discovered in their clusters, optionally narrowed by owning Domain, Project, or whether the discovered image digest matches the declared one. The surface is strictly read-only — plexsphere records what the agent observed and never writes hook objects back. The handler runs the platform read gate before the persistence read, then layers a per-row visibility filter on the owning Domain so `items` is the subset the caller is authorised to see.  The pagination cursor is HMAC-signed and bound to the per-(caller, pepper) pseudonym; a cross-caller replay surfaces as `403 cursor_binding_mismatch`, and a tampered or malformed cursor surfaces as `400 invalid_cursor`. `limit` is clamped to `[1, 200]` rather than rejected.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiListHooksRequest
*/
func (a *HooksAPIService) ListHooks(ctx context.Context) ApiListHooksRequest {
	return ApiListHooksRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return HookList
func (a *HooksAPIService) ListHooksExecute(r ApiListHooksRequest) (*HookList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *HookList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "HooksAPIService.ListHooks")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/hooks"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.domainId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "domain_id", r.domainId, "form", "")
	}
	if r.projectId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	}
	if r.imageDigestMatch != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "image_digest_match", r.imageDigestMatch, "form", "")
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 50
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v PermissionDenied
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
