/*
plexsphere API

HTTP contract for plexsphere's meta endpoints (health, version, self-describing OpenAPI), the identity sign-in / token endpoints , and the admin IdP-binding management surface. The specification is the single source of truth — server stubs, clients, and documentation are generated from this file .  CSRF defence-in-depth (issue #181): every state-changing cookie-authenticated `/v1/_*` request (`POST`, `PATCH`, `PUT`, `DELETE`) is required to carry both an Origin / Sec-Fetch-Site signal AND echo the `plexsphere_csrf` cookie value in the `X-Plexsphere-CSRF` header. Violations surface as `403 application/problem+json` with `code` ∈ { `csrf-token-mismatch`, `csrf-origin-mismatch`, `csrf-origin-not-configured` }. Bearer-authenticated requests (`Authorization: Bearer …`) are exempt because the bearer scheme is not auto-attached by browsers; the sign-in surface (`/v1/auth/_*`) is exempt because it cannot carry a Principal yet.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package plexsphere

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

type AccessAPI interface {

	/*
		AttachSession Attach to a live SSH session as a bidirectional WebSocket stream.

		Upgrades the request to a WebSocket and bridges the browser to the mediated SSH session identified by `{session_id}` within the owning Project. The handler re-runs the issuance-equivalent ReBAC check on the session's Resource BEFORE dialing anything, validates the Session is `active` and `ssh`-kind, then dials the target plexd `listener_endpoint` over the mesh and copies bytes bidirectionally between the client socket and the mesh connection.  This operation does NOT speak JSON. On a successful upgrade the response is `101 Switching Protocols` and the connection body is an opaque, bidirectional byte stream carrying the SSH transport — the request and response bodies are NOT JSON documents. The `listener_endpoint` is never written to the client; the browser only ever sees the proxied stream. Error paths (before the upgrade completes) follow the RFC 9457 `application/problem+json` envelope.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param projectId Owning Project. The Access Orchestrator issue, list, read, and revoke operations are scoped per Project, so every operator-facing endpoint requires the Project identifier in the path.
		@param sessionId Session identifier (UUIDv7). Bound on `/v1/projects/{project_id}/sessions/{session_id}`, its `:revoke` sub-resource, and its `/attach` WebSocket gateway for the single-Session read, revoke, and attach.
		@return ApiAttachSessionRequest
	*/
	AttachSession(ctx context.Context, projectId string, sessionId string) ApiAttachSessionRequest

	// AttachSessionExecute executes the request
	AttachSessionExecute(r ApiAttachSessionRequest) (*http.Response, error)

	/*
		GetSession Inspect a single mediated session.

		Returns the metadata-only projection of the Session identified by `{session_id}` within the owning Project. The handler runs the session-read ReBAC check BEFORE the persistence read. The projection never carries the signed token — the token is delivered only once, on issuance.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param projectId Owning Project. The Access Orchestrator issue, list, read, and revoke operations are scoped per Project, so every operator-facing endpoint requires the Project identifier in the path.
		@param sessionId Session identifier (UUIDv7). Bound on `/v1/projects/{project_id}/sessions/{session_id}`, its `:revoke` sub-resource, and its `/attach` WebSocket gateway for the single-Session read, revoke, and attach.
		@return ApiGetSessionRequest
	*/
	GetSession(ctx context.Context, projectId string, sessionId string) ApiGetSessionRequest

	// GetSessionExecute executes the request
	//  @return Session
	GetSessionExecute(r ApiGetSessionRequest) (*Session, *http.Response, error)

	/*
		IssueSession Issue a short-lived, session-scoped JWT for a mediated target.

		Issues a short-lived, session-scoped EdDSA JWT for one mediated target inside the owning Project. The handler runs the issuance ReBAC check on the targeted Resource BEFORE any persistence write, enforces the per-Domain step-up policy, clamps the requested TTL to the per-Domain ceiling, admits the session against the per-Domain concurrency and rate budgets, then mints one Session whose JTI is its own identifier and signs the canonical claim bytes with the per-Domain Signing Service key.  The request body supplies the targeted `resource_id`, the session `kind` (`ssh`, `k8s`, or `tcp`), the matching per-kind `target`, an optional `requested_ttl_seconds` (silently clamped to the per-Domain maximum), and an optional `idempotency_key` (a repeat within the dedupe window returns the original session and token).  The signed token is returned EXACTLY ONCE, in this response. It is never persisted server-side beyond its identifier and expiry, and the list and read projections never re-expose it.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param projectId Owning Project. The Access Orchestrator issue, list, read, and revoke operations are scoped per Project, so every operator-facing endpoint requires the Project identifier in the path.
		@return ApiIssueSessionRequest
	*/
	IssueSession(ctx context.Context, projectId string) ApiIssueSessionRequest

	// IssueSessionExecute executes the request
	//  @return IssuedSession
	IssueSessionExecute(r ApiIssueSessionRequest) (*IssuedSession, *http.Response, error)

	/*
		ListSessions List mediated sessions for a Project.

		Returns an issuance-ordered page of Session lifecycle metadata for the owning Project, optionally narrowed by aggregate `status`, `kind`, or `identity_id`. The handler runs the session-read ReBAC check BEFORE the persistence read. The projection is metadata-only — it carries the session identity, the aggregate status, and the per-kind target, but never the signed token.  The pagination cursor is opaque and HMAC-signed by the server, so a tampered cursor surfaces as `400` on the next call.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param projectId Owning Project. The Access Orchestrator issue, list, read, and revoke operations are scoped per Project, so every operator-facing endpoint requires the Project identifier in the path.
		@return ApiListSessionsRequest
	*/
	ListSessions(ctx context.Context, projectId string) ApiListSessionsRequest

	// ListSessionsExecute executes the request
	//  @return SessionList
	ListSessionsExecute(r ApiListSessionsRequest) (*SessionList, *http.Response, error)

	/*
		PostNodeSessionCallback Report per-kind session activity from a Node.

		Accepts a per-kind session-activity callback from the target plexd and appends it to the session's append-only activity log, touching the session's last-active timestamp so the idle-timeout sweeper sees progress. The handler:    1. Authenticates the caller against the Node Secret Key (NSK)      plaintext supplied in the `Authorization: Bearer` header,      rejecting revoked credentials with 401.   2. Asserts that the NSK belongs to the Node addressed by the      path `id`, refusing cross-Node use with 403      `nsk_node_mismatch` so a leaked NSK cannot be replayed      against a sibling Node's session.   3. Appends the reported per-kind activity row. An `ssh` session      records `command_executed` / `command_exited` activity; a      `k8s` session records `api_request` activity; a `tcp` session      records exactly a `session_started` and a `session_ended`      pair — the TCP shape is deliberately payload-blind, with no      L7 parsing.  DEFERRED-WIRING POSTURE: until the production composition root supplies the callback service and its NSK validator, every request to this endpoint returns 501 with `code: access_session_not_provisioned` so log scrapers can alert on the deferred-wiring state.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param id Node identifier (UUIDv7) — the callback scope.
		@param sessionId Session identifier (UUIDv7) the activity belongs to.
		@return ApiPostNodeSessionCallbackRequest
	*/
	PostNodeSessionCallback(ctx context.Context, id string, sessionId string) ApiPostNodeSessionCallbackRequest

	// PostNodeSessionCallbackExecute executes the request
	PostNodeSessionCallbackExecute(r ApiPostNodeSessionCallbackRequest) (*http.Response, error)

	/*
		RevokeSession Instantly revoke a live mediated session.

		Revokes the Session identified by `{session_id}` within the owning Project. The handler runs the revoke ReBAC check BEFORE any write, then writes the revocation, appends the session identifier to the revocation denylist, and fans a revocation event out over the Signed Event Bus so the target plexd tears the listener down — all in one transaction.  Re-revoking an already-revoked Session is idempotent: it returns `204` and writes no additional rows.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param projectId Owning Project. The Access Orchestrator issue, list, read, and revoke operations are scoped per Project, so every operator-facing endpoint requires the Project identifier in the path.
		@param sessionId Session identifier (UUIDv7). Bound on `/v1/projects/{project_id}/sessions/{session_id}`, its `:revoke` sub-resource, and its `/attach` WebSocket gateway for the single-Session read, revoke, and attach.
		@return ApiRevokeSessionRequest
	*/
	RevokeSession(ctx context.Context, projectId string, sessionId string) ApiRevokeSessionRequest

	// RevokeSessionExecute executes the request
	RevokeSessionExecute(r ApiRevokeSessionRequest) (*http.Response, error)
}

// AccessAPIService AccessAPI service
type AccessAPIService service

type ApiAttachSessionRequest struct {
	ctx        context.Context
	ApiService AccessAPI
	projectId  string
	sessionId  string
}

func (r ApiAttachSessionRequest) Execute() (*http.Response, error) {
	return r.ApiService.AttachSessionExecute(r)
}

/*
AttachSession Attach to a live SSH session as a bidirectional WebSocket stream.

Upgrades the request to a WebSocket and bridges the browser to the mediated SSH session identified by `{session_id}` within the owning Project. The handler re-runs the issuance-equivalent ReBAC check on the session's Resource BEFORE dialing anything, validates the Session is `active` and `ssh`-kind, then dials the target plexd `listener_endpoint` over the mesh and copies bytes bidirectionally between the client socket and the mesh connection.  This operation does NOT speak JSON. On a successful upgrade the response is `101 Switching Protocols` and the connection body is an opaque, bidirectional byte stream carrying the SSH transport — the request and response bodies are NOT JSON documents. The `listener_endpoint` is never written to the client; the browser only ever sees the proxied stream. Error paths (before the upgrade completes) follow the RFC 9457 `application/problem+json` envelope.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param projectId Owning Project. The Access Orchestrator issue, list, read, and revoke operations are scoped per Project, so every operator-facing endpoint requires the Project identifier in the path.
	@param sessionId Session identifier (UUIDv7). Bound on `/v1/projects/{project_id}/sessions/{session_id}`, its `:revoke` sub-resource, and its `/attach` WebSocket gateway for the single-Session read, revoke, and attach.
	@return ApiAttachSessionRequest
*/
func (a *AccessAPIService) AttachSession(ctx context.Context, projectId string, sessionId string) ApiAttachSessionRequest {
	return ApiAttachSessionRequest{
		ApiService: a,
		ctx:        ctx,
		projectId:  projectId,
		sessionId:  sessionId,
	}
}

// Execute executes the request
func (a *AccessAPIService) AttachSessionExecute(r ApiAttachSessionRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodGet
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccessAPIService.AttachSession")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/projects/{project_id}/sessions/{session_id}/attach"
	localVarPath = strings.Replace(localVarPath, "{"+"project_id"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"session_id"+"}", url.PathEscape(parameterValueToString(r.sessionId, "sessionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v PermissionDenied
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 426 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 501 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetSessionRequest struct {
	ctx        context.Context
	ApiService AccessAPI
	projectId  string
	sessionId  string
}

func (r ApiGetSessionRequest) Execute() (*Session, *http.Response, error) {
	return r.ApiService.GetSessionExecute(r)
}

/*
GetSession Inspect a single mediated session.

Returns the metadata-only projection of the Session identified by `{session_id}` within the owning Project. The handler runs the session-read ReBAC check BEFORE the persistence read. The projection never carries the signed token — the token is delivered only once, on issuance.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param projectId Owning Project. The Access Orchestrator issue, list, read, and revoke operations are scoped per Project, so every operator-facing endpoint requires the Project identifier in the path.
	@param sessionId Session identifier (UUIDv7). Bound on `/v1/projects/{project_id}/sessions/{session_id}`, its `:revoke` sub-resource, and its `/attach` WebSocket gateway for the single-Session read, revoke, and attach.
	@return ApiGetSessionRequest
*/
func (a *AccessAPIService) GetSession(ctx context.Context, projectId string, sessionId string) ApiGetSessionRequest {
	return ApiGetSessionRequest{
		ApiService: a,
		ctx:        ctx,
		projectId:  projectId,
		sessionId:  sessionId,
	}
}

// Execute executes the request
//
//	@return Session
func (a *AccessAPIService) GetSessionExecute(r ApiGetSessionRequest) (*Session, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *Session
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccessAPIService.GetSession")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/projects/{project_id}/sessions/{session_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"project_id"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"session_id"+"}", url.PathEscape(parameterValueToString(r.sessionId, "sessionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v PermissionDenied
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 501 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiIssueSessionRequest struct {
	ctx                 context.Context
	ApiService          AccessAPI
	projectId           string
	issueSessionRequest *IssueSessionRequest
}

func (r ApiIssueSessionRequest) IssueSessionRequest(issueSessionRequest IssueSessionRequest) ApiIssueSessionRequest {
	r.issueSessionRequest = &issueSessionRequest
	return r
}

func (r ApiIssueSessionRequest) Execute() (*IssuedSession, *http.Response, error) {
	return r.ApiService.IssueSessionExecute(r)
}

/*
IssueSession Issue a short-lived, session-scoped JWT for a mediated target.

Issues a short-lived, session-scoped EdDSA JWT for one mediated target inside the owning Project. The handler runs the issuance ReBAC check on the targeted Resource BEFORE any persistence write, enforces the per-Domain step-up policy, clamps the requested TTL to the per-Domain ceiling, admits the session against the per-Domain concurrency and rate budgets, then mints one Session whose JTI is its own identifier and signs the canonical claim bytes with the per-Domain Signing Service key.  The request body supplies the targeted `resource_id`, the session `kind` (`ssh`, `k8s`, or `tcp`), the matching per-kind `target`, an optional `requested_ttl_seconds` (silently clamped to the per-Domain maximum), and an optional `idempotency_key` (a repeat within the dedupe window returns the original session and token).  The signed token is returned EXACTLY ONCE, in this response. It is never persisted server-side beyond its identifier and expiry, and the list and read projections never re-expose it.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param projectId Owning Project. The Access Orchestrator issue, list, read, and revoke operations are scoped per Project, so every operator-facing endpoint requires the Project identifier in the path.
	@return ApiIssueSessionRequest
*/
func (a *AccessAPIService) IssueSession(ctx context.Context, projectId string) ApiIssueSessionRequest {
	return ApiIssueSessionRequest{
		ApiService: a,
		ctx:        ctx,
		projectId:  projectId,
	}
}

// Execute executes the request
//
//	@return IssuedSession
func (a *AccessAPIService) IssueSessionExecute(r ApiIssueSessionRequest) (*IssuedSession, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IssuedSession
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccessAPIService.IssueSession")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/projects/{project_id}/sessions"
	localVarPath = strings.Replace(localVarPath, "{"+"project_id"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.issueSessionRequest == nil {
		return localVarReturnValue, nil, reportError("issueSessionRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.issueSessionRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v PermissionDenied
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 501 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListSessionsRequest struct {
	ctx        context.Context
	ApiService AccessAPI
	projectId  string
	status     *SessionStatus
	kind       *SessionKind
	identityId *string
	cursor     *string
	limit      *int32
}

// Optional aggregate-status filter. When present, only Sessions whose status equals the named value are returned.
func (r ApiListSessionsRequest) Status(status SessionStatus) ApiListSessionsRequest {
	r.status = &status
	return r
}

// Optional kind filter. When present, only Sessions of the named kind are returned.
func (r ApiListSessionsRequest) Kind(kind SessionKind) ApiListSessionsRequest {
	r.kind = &kind
	return r
}

// Optional identity filter. When present, only Sessions issued to the named Identity are returned.
func (r ApiListSessionsRequest) IdentityId(identityId string) ApiListSessionsRequest {
	r.identityId = &identityId
	return r
}

// Opaque continuation token returned by a previous call&#39;s &#x60;next_cursor&#x60;. The encoding is HMAC-signed by the server so a tampered cursor surfaces as &#x60;400&#x60;.
func (r ApiListSessionsRequest) Cursor(cursor string) ApiListSessionsRequest {
	r.cursor = &cursor
	return r
}

// Maximum number of items to return in a single page. The handler clamps the value to [1, 200] before forwarding it to the read service.
func (r ApiListSessionsRequest) Limit(limit int32) ApiListSessionsRequest {
	r.limit = &limit
	return r
}

func (r ApiListSessionsRequest) Execute() (*SessionList, *http.Response, error) {
	return r.ApiService.ListSessionsExecute(r)
}

/*
ListSessions List mediated sessions for a Project.

Returns an issuance-ordered page of Session lifecycle metadata for the owning Project, optionally narrowed by aggregate `status`, `kind`, or `identity_id`. The handler runs the session-read ReBAC check BEFORE the persistence read. The projection is metadata-only — it carries the session identity, the aggregate status, and the per-kind target, but never the signed token.  The pagination cursor is opaque and HMAC-signed by the server, so a tampered cursor surfaces as `400` on the next call.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param projectId Owning Project. The Access Orchestrator issue, list, read, and revoke operations are scoped per Project, so every operator-facing endpoint requires the Project identifier in the path.
	@return ApiListSessionsRequest
*/
func (a *AccessAPIService) ListSessions(ctx context.Context, projectId string) ApiListSessionsRequest {
	return ApiListSessionsRequest{
		ApiService: a,
		ctx:        ctx,
		projectId:  projectId,
	}
}

// Execute executes the request
//
//	@return SessionList
func (a *AccessAPIService) ListSessionsExecute(r ApiListSessionsRequest) (*SessionList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *SessionList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccessAPIService.ListSessions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/projects/{project_id}/sessions"
	localVarPath = strings.Replace(localVarPath, "{"+"project_id"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.kind != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "kind", r.kind, "form", "")
	}
	if r.identityId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "identity_id", r.identityId, "form", "")
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 50
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v PermissionDenied
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 501 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPostNodeSessionCallbackRequest struct {
	ctx                    context.Context
	ApiService             AccessAPI
	id                     string
	sessionId              string
	authorization          *string
	sessionActivityRequest *SessionActivityRequest
}

// &#x60;Bearer &lt;NSK plaintext&gt;&#x60; — the per-Node Node Secret Key issued at registration time. The NSK is bound to the Node addressed by the path &#x60;id&#x60;; a credential belonging to a different Node surfaces as 403 &#x60;nsk_node_mismatch&#x60;.
func (r ApiPostNodeSessionCallbackRequest) Authorization(authorization string) ApiPostNodeSessionCallbackRequest {
	r.authorization = &authorization
	return r
}

func (r ApiPostNodeSessionCallbackRequest) SessionActivityRequest(sessionActivityRequest SessionActivityRequest) ApiPostNodeSessionCallbackRequest {
	r.sessionActivityRequest = &sessionActivityRequest
	return r
}

func (r ApiPostNodeSessionCallbackRequest) Execute() (*http.Response, error) {
	return r.ApiService.PostNodeSessionCallbackExecute(r)
}

/*
PostNodeSessionCallback Report per-kind session activity from a Node.

Accepts a per-kind session-activity callback from the target plexd and appends it to the session's append-only activity log, touching the session's last-active timestamp so the idle-timeout sweeper sees progress. The handler:    1. Authenticates the caller against the Node Secret Key (NSK)      plaintext supplied in the `Authorization: Bearer` header,      rejecting revoked credentials with 401.   2. Asserts that the NSK belongs to the Node addressed by the      path `id`, refusing cross-Node use with 403      `nsk_node_mismatch` so a leaked NSK cannot be replayed      against a sibling Node's session.   3. Appends the reported per-kind activity row. An `ssh` session      records `command_executed` / `command_exited` activity; a      `k8s` session records `api_request` activity; a `tcp` session      records exactly a `session_started` and a `session_ended`      pair — the TCP shape is deliberately payload-blind, with no      L7 parsing.  DEFERRED-WIRING POSTURE: until the production composition root supplies the callback service and its NSK validator, every request to this endpoint returns 501 with `code: access_session_not_provisioned` so log scrapers can alert on the deferred-wiring state.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Node identifier (UUIDv7) — the callback scope.
	@param sessionId Session identifier (UUIDv7) the activity belongs to.
	@return ApiPostNodeSessionCallbackRequest
*/
func (a *AccessAPIService) PostNodeSessionCallback(ctx context.Context, id string, sessionId string) ApiPostNodeSessionCallbackRequest {
	return ApiPostNodeSessionCallbackRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
		sessionId:  sessionId,
	}
}

// Execute executes the request
func (a *AccessAPIService) PostNodeSessionCallbackExecute(r ApiPostNodeSessionCallbackRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccessAPIService.PostNodeSessionCallback")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/nodes/{id}/sessions/{session_id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"session_id"+"}", url.PathEscape(parameterValueToString(r.sessionId, "sessionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.authorization == nil {
		return nil, reportError("authorization is required and must be specified")
	}
	if r.sessionActivityRequest == nil {
		return nil, reportError("sessionActivityRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "Authorization", r.authorization, "simple", "")
	// body params
	localVarPostBody = r.sessionActivityRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v PermissionDenied
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 501 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiRevokeSessionRequest struct {
	ctx                  context.Context
	ApiService           AccessAPI
	projectId            string
	sessionId            string
	revokeSessionRequest *RevokeSessionRequest
}

func (r ApiRevokeSessionRequest) RevokeSessionRequest(revokeSessionRequest RevokeSessionRequest) ApiRevokeSessionRequest {
	r.revokeSessionRequest = &revokeSessionRequest
	return r
}

func (r ApiRevokeSessionRequest) Execute() (*http.Response, error) {
	return r.ApiService.RevokeSessionExecute(r)
}

/*
RevokeSession Instantly revoke a live mediated session.

Revokes the Session identified by `{session_id}` within the owning Project. The handler runs the revoke ReBAC check BEFORE any write, then writes the revocation, appends the session identifier to the revocation denylist, and fans a revocation event out over the Signed Event Bus so the target plexd tears the listener down — all in one transaction.  Re-revoking an already-revoked Session is idempotent: it returns `204` and writes no additional rows.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param projectId Owning Project. The Access Orchestrator issue, list, read, and revoke operations are scoped per Project, so every operator-facing endpoint requires the Project identifier in the path.
	@param sessionId Session identifier (UUIDv7). Bound on `/v1/projects/{project_id}/sessions/{session_id}`, its `:revoke` sub-resource, and its `/attach` WebSocket gateway for the single-Session read, revoke, and attach.
	@return ApiRevokeSessionRequest
*/
func (a *AccessAPIService) RevokeSession(ctx context.Context, projectId string, sessionId string) ApiRevokeSessionRequest {
	return ApiRevokeSessionRequest{
		ApiService: a,
		ctx:        ctx,
		projectId:  projectId,
		sessionId:  sessionId,
	}
}

// Execute executes the request
func (a *AccessAPIService) RevokeSessionExecute(r ApiRevokeSessionRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccessAPIService.RevokeSession")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/projects/{project_id}/sessions/{session_id}:revoke"
	localVarPath = strings.Replace(localVarPath, "{"+"project_id"+"}", url.PathEscape(parameterValueToString(r.projectId, "projectId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"session_id"+"}", url.PathEscape(parameterValueToString(r.sessionId, "sessionId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.revokeSessionRequest == nil {
		return nil, reportError("revokeSessionRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.revokeSessionRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v PermissionDenied
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 501 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
