/*
plexsphere API

HTTP contract for plexsphere's meta endpoints (health, version, self-describing OpenAPI), the identity sign-in / token endpoints , and the admin IdP-binding management surface. The specification is the single source of truth — server stubs, clients, and documentation are generated from this file .  CSRF defence-in-depth (issue #181): every state-changing cookie-authenticated `/v1/_*` request (`POST`, `PATCH`, `PUT`, `DELETE`) is required to carry both an Origin / Sec-Fetch-Site signal AND echo the `plexsphere_csrf` cookie value in the `X-Plexsphere-CSRF` header. Violations surface as `403 application/problem+json` with `code` ∈ { `csrf-token-mismatch`, `csrf-origin-mismatch`, `csrf-origin-not-configured` }. Bearer-authenticated requests (`Authorization: Bearer …`) are exempt because the bearer scheme is not auto-attached by browsers; the sign-in surface (`/v1/auth/_*`) is exempt because it cannot carry a Principal yet.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package plexsphere

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

type IntegrityAPI interface {

	/*
		AcknowledgeIntegrityViolation Acknowledge an open integrity violation.

		Acknowledges the integrity violation identified by `{id}`, moving it from `open` to `acknowledged` and recording the operator-supplied `reason` on the triage row. The handler runs the platform read gate before the transition.  Acknowledgement is an elevated, audited action and MAY be gated behind a required OIDC ACR: a caller whose session does not satisfy the configured ACR is challenged with `401` carrying the `acr_values` it must re-authenticate with, and no state transition occurs. Acknowledgement is only legal from the `open` state — any other source state returns `409 illegal_transition`. A blank or whitespace-only `reason` is rejected with `400 invalid_acknowledge_reason`.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param id Integrity-violation identifier (UUIDv7). Bound on `/v1/integrity-violations/{id}/acknowledge` for the triage acknowledge surface.
		@return ApiAcknowledgeIntegrityViolationRequest
	*/
	AcknowledgeIntegrityViolation(ctx context.Context, id string) ApiAcknowledgeIntegrityViolationRequest

	// AcknowledgeIntegrityViolationExecute executes the request
	//  @return IntegrityViolationRow
	AcknowledgeIntegrityViolationExecute(r ApiAcknowledgeIntegrityViolationRequest) (*IntegrityViolationRow, *http.Response, error)

	/*
		ListIntegrityViolations List integrity violations across Domains.

		Returns a cursor-paginated page of integrity-violation rows the agents reported, optionally narrowed by owning Domain, Project, Node, violation `kind`, or lifecycle `status`. The handler runs the platform read gate before the persistence read, then layers a per-row visibility filter on the owning Domain so `items` is the subset the caller is authorised to see.  The pagination cursor is HMAC-signed and bound to the per-(caller, pepper) pseudonym; a cross-caller replay surfaces as `403 cursor_binding_mismatch`, and a tampered or malformed cursor surfaces as `400 invalid_cursor`. `limit` is clamped to `[1, 200]` rather than rejected.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiListIntegrityViolationsRequest
	*/
	ListIntegrityViolations(ctx context.Context) ApiListIntegrityViolationsRequest

	// ListIntegrityViolationsExecute executes the request
	//  @return IntegrityViolationList
	ListIntegrityViolationsExecute(r ApiListIntegrityViolationsRequest) (*IntegrityViolationList, *http.Response, error)
}

// IntegrityAPIService IntegrityAPI service
type IntegrityAPIService service

type ApiAcknowledgeIntegrityViolationRequest struct {
	ctx                                  context.Context
	ApiService                           IntegrityAPI
	id                                   string
	integrityViolationAcknowledgeRequest *IntegrityViolationAcknowledgeRequest
}

func (r ApiAcknowledgeIntegrityViolationRequest) IntegrityViolationAcknowledgeRequest(integrityViolationAcknowledgeRequest IntegrityViolationAcknowledgeRequest) ApiAcknowledgeIntegrityViolationRequest {
	r.integrityViolationAcknowledgeRequest = &integrityViolationAcknowledgeRequest
	return r
}

func (r ApiAcknowledgeIntegrityViolationRequest) Execute() (*IntegrityViolationRow, *http.Response, error) {
	return r.ApiService.AcknowledgeIntegrityViolationExecute(r)
}

/*
AcknowledgeIntegrityViolation Acknowledge an open integrity violation.

Acknowledges the integrity violation identified by `{id}`, moving it from `open` to `acknowledged` and recording the operator-supplied `reason` on the triage row. The handler runs the platform read gate before the transition.  Acknowledgement is an elevated, audited action and MAY be gated behind a required OIDC ACR: a caller whose session does not satisfy the configured ACR is challenged with `401` carrying the `acr_values` it must re-authenticate with, and no state transition occurs. Acknowledgement is only legal from the `open` state — any other source state returns `409 illegal_transition`. A blank or whitespace-only `reason` is rejected with `400 invalid_acknowledge_reason`.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Integrity-violation identifier (UUIDv7). Bound on `/v1/integrity-violations/{id}/acknowledge` for the triage acknowledge surface.
	@return ApiAcknowledgeIntegrityViolationRequest
*/
func (a *IntegrityAPIService) AcknowledgeIntegrityViolation(ctx context.Context, id string) ApiAcknowledgeIntegrityViolationRequest {
	return ApiAcknowledgeIntegrityViolationRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return IntegrityViolationRow
func (a *IntegrityAPIService) AcknowledgeIntegrityViolationExecute(r ApiAcknowledgeIntegrityViolationRequest) (*IntegrityViolationRow, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IntegrityViolationRow
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IntegrityAPIService.AcknowledgeIntegrityViolation")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/integrity-violations/{id}/acknowledge"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.integrityViolationAcknowledgeRequest == nil {
		return localVarReturnValue, nil, reportError("integrityViolationAcknowledgeRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.integrityViolationAcknowledgeRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v PermissionDenied
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListIntegrityViolationsRequest struct {
	ctx        context.Context
	ApiService IntegrityAPI
	domainId   *string
	projectId  *string
	nodeId     *string
	kind       *IntegrityViolationKind
	status     *IntegrityViolationStatus
	cursor     *string
	limit      *int32
}

// Optional owning-Domain filter. When present, only violations on the named Domain are returned.
func (r ApiListIntegrityViolationsRequest) DomainId(domainId string) ApiListIntegrityViolationsRequest {
	r.domainId = &domainId
	return r
}

// Optional Project filter. When present, only violations on Nodes in the named Project are returned.
func (r ApiListIntegrityViolationsRequest) ProjectId(projectId string) ApiListIntegrityViolationsRequest {
	r.projectId = &projectId
	return r
}

// Optional Node filter. When present, only violations reported by the named Node are returned.
func (r ApiListIntegrityViolationsRequest) NodeId(nodeId string) ApiListIntegrityViolationsRequest {
	r.nodeId = &nodeId
	return r
}

// Optional violation-kind filter. Composes with the other filters.
func (r ApiListIntegrityViolationsRequest) Kind(kind IntegrityViolationKind) ApiListIntegrityViolationsRequest {
	r.kind = &kind
	return r
}

// Optional lifecycle-status filter. Composes with the other filters.
func (r ApiListIntegrityViolationsRequest) Status(status IntegrityViolationStatus) ApiListIntegrityViolationsRequest {
	r.status = &status
	return r
}

// Opaque continuation token returned by a previous call&#39;s &#x60;next_cursor&#x60;. The encoding is HMAC-signed so a tampered cursor surfaces as &#x60;400&#x60;.
func (r ApiListIntegrityViolationsRequest) Cursor(cursor string) ApiListIntegrityViolationsRequest {
	r.cursor = &cursor
	return r
}

// Maximum number of items to return in a single page. The handler clamps the value to [1, 200] before forwarding it to the read service.
func (r ApiListIntegrityViolationsRequest) Limit(limit int32) ApiListIntegrityViolationsRequest {
	r.limit = &limit
	return r
}

func (r ApiListIntegrityViolationsRequest) Execute() (*IntegrityViolationList, *http.Response, error) {
	return r.ApiService.ListIntegrityViolationsExecute(r)
}

/*
ListIntegrityViolations List integrity violations across Domains.

Returns a cursor-paginated page of integrity-violation rows the agents reported, optionally narrowed by owning Domain, Project, Node, violation `kind`, or lifecycle `status`. The handler runs the platform read gate before the persistence read, then layers a per-row visibility filter on the owning Domain so `items` is the subset the caller is authorised to see.  The pagination cursor is HMAC-signed and bound to the per-(caller, pepper) pseudonym; a cross-caller replay surfaces as `403 cursor_binding_mismatch`, and a tampered or malformed cursor surfaces as `400 invalid_cursor`. `limit` is clamped to `[1, 200]` rather than rejected.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiListIntegrityViolationsRequest
*/
func (a *IntegrityAPIService) ListIntegrityViolations(ctx context.Context) ApiListIntegrityViolationsRequest {
	return ApiListIntegrityViolationsRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return IntegrityViolationList
func (a *IntegrityAPIService) ListIntegrityViolationsExecute(r ApiListIntegrityViolationsRequest) (*IntegrityViolationList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *IntegrityViolationList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "IntegrityAPIService.ListIntegrityViolations")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/integrity-violations"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.domainId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "domain_id", r.domainId, "form", "")
	}
	if r.projectId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "project_id", r.projectId, "form", "")
	}
	if r.nodeId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "node_id", r.nodeId, "form", "")
	}
	if r.kind != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "kind", r.kind, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 50
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v PermissionDenied
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
