/*
plexsphere API

HTTP contract for plexsphere's meta endpoints (health, version, self-describing OpenAPI), the identity sign-in / token endpoints , and the admin IdP-binding management surface. The specification is the single source of truth — server stubs, clients, and documentation are generated from this file .  CSRF defence-in-depth (issue #181): every state-changing cookie-authenticated `/v1/_*` request (`POST`, `PATCH`, `PUT`, `DELETE`) is required to carry both an Origin / Sec-Fetch-Site signal AND echo the `plexsphere_csrf` cookie value in the `X-Plexsphere-CSRF` header. Violations surface as `403 application/problem+json` with `code` ∈ { `csrf-token-mismatch`, `csrf-origin-mismatch`, `csrf-origin-not-configured` }. Bearer-authenticated requests (`Authorization: Bearer …`) are exempt because the bearer scheme is not auto-attached by browsers; the sign-in surface (`/v1/auth/_*`) is exempt because it cannot carry a Principal yet.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package plexsphere

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

type ProvisioningCredentialsAPI interface {

	/*
		GetCredential Fetch a credential's lifecycle metadata.

		Returns the lifecycle metadata for the credential identified by `{id}`. The credential id does not encode its owning Project, so the handler must read the row to learn which Project to authorise against; the ReBAC `observe` check runs on the resolved parent Project and a denial returns `403` via the audit-first permission-denied path. A missing row surfaces as `404 credential_not_found`.  The projection is metadata-only and NEVER exposes the KV mount, KV path, KV version, or any secret material.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param id Credential identifier (UUIDv7). Bound on `/v1/credentials/{id}`, `/v1/credentials/{id}/revoke`, and `/v1/credentials/{id}/rotate` for the operator-facing OpenBao Credential Broker read + lifecycle surface.
		@return ApiGetCredentialRequest
	*/
	GetCredential(ctx context.Context, id string) ApiGetCredentialRequest

	// GetCredentialExecute executes the request
	//  @return CredentialResponse
	GetCredentialExecute(r ApiGetCredentialRequest) (*CredentialResponse, *http.Response, error)

	/*
		ListProjectCredentials List the OpenBao credentials owned by a Project.

		Returns a creation-ordered page of credential lifecycle metadata for the Project identified by `{id}`. The handler runs a top-level `observe` ReBAC check on the parent Project BEFORE the persistence read, then layers a per-row `observe` filter on top so the response items are the subset of the persistence- level page the caller is authorised to see.  The projection is metadata-only: it carries the credential identity, owning Project, version, lifecycle timestamps, and a derived status. It NEVER exposes the KV mount, KV path, KV version, or any secret material — the storage location is deliberately omitted as a storage-internal detail.  The pagination cursor is HMAC-signed and bound to the per-(caller, pepper) pseudonym, so a cursor minted by one principal cannot be replayed by another — the cross-caller replay surfaces as `403 cursor_binding_mismatch`. A tampered envelope or unknown version byte stays on `400 invalid_cursor`.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param id Project identifier (UUIDv7). Bound on `/v1/projects/{id}` for the tenancy CRUD surface and on `/v1/projects/{id}/credentials` for the operator-facing OpenBao Credential Broker inventory list.
		@return ApiListProjectCredentialsRequest
	*/
	ListProjectCredentials(ctx context.Context, id string) ApiListProjectCredentialsRequest

	// ListProjectCredentialsExecute executes the request
	//  @return CredentialList
	ListProjectCredentialsExecute(r ApiListProjectCredentialsRequest) (*CredentialList, *http.Response, error)

	/*
		RevokeCredential Revoke a credential.

		Revokes the credential identified by `{id}`. The handler reads the row to resolve the parent Project, runs the `manage` ReBAC check on that Project, then delegates to the Credential Broker Custodian which stamps `revoked_at` and appends a `CredentialRevoked` outbox event in a single transaction.  Revocation is idempotent: revoking an already-revoked credential returns `200` with the unchanged metadata rather than an error. The response carries the metadata-only projection showing the populated `revoked_at`.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param id Credential identifier (UUIDv7). Bound on `/v1/credentials/{id}`, `/v1/credentials/{id}/revoke`, and `/v1/credentials/{id}/rotate` for the operator-facing OpenBao Credential Broker read + lifecycle surface.
		@return ApiRevokeCredentialRequest
	*/
	RevokeCredential(ctx context.Context, id string) ApiRevokeCredentialRequest

	// RevokeCredentialExecute executes the request
	//  @return CredentialResponse
	RevokeCredentialExecute(r ApiRevokeCredentialRequest) (*CredentialResponse, *http.Response, error)

	/*
		RotateCredential Rotate a credential's underlying secret.

		Rotates the credential identified by `{id}`. The handler reads the row to resolve the parent Project, runs the `manage` ReBAC check on that Project, then delegates to the Credential Broker Custodian which writes the new secret material into OpenBao KV-v2 under a compare-and-swap guard, bumps the broker-row version, and appends a `CredentialRotated` outbox event in a single transaction.  The caller supplies `expected_version` — the broker-row version it observed via a prior read. A mismatch surfaces as `409 credential_cas_conflict` so two concurrent rotations fail closed. Rotating a revoked credential is rejected with `409 credential_revoked`.  Secret material is accepted INBOUND in the request body but is NEVER returned: the response is the same metadata-only projection every other read surface returns, with the bumped `version` and refreshed `expires_at`.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param id Credential identifier (UUIDv7). Bound on `/v1/credentials/{id}`, `/v1/credentials/{id}/revoke`, and `/v1/credentials/{id}/rotate` for the operator-facing OpenBao Credential Broker read + lifecycle surface.
		@return ApiRotateCredentialRequest
	*/
	RotateCredential(ctx context.Context, id string) ApiRotateCredentialRequest

	// RotateCredentialExecute executes the request
	//  @return CredentialResponse
	RotateCredentialExecute(r ApiRotateCredentialRequest) (*CredentialResponse, *http.Response, error)
}

// ProvisioningCredentialsAPIService ProvisioningCredentialsAPI service
type ProvisioningCredentialsAPIService service

type ApiGetCredentialRequest struct {
	ctx        context.Context
	ApiService ProvisioningCredentialsAPI
	id         string
}

func (r ApiGetCredentialRequest) Execute() (*CredentialResponse, *http.Response, error) {
	return r.ApiService.GetCredentialExecute(r)
}

/*
GetCredential Fetch a credential's lifecycle metadata.

Returns the lifecycle metadata for the credential identified by `{id}`. The credential id does not encode its owning Project, so the handler must read the row to learn which Project to authorise against; the ReBAC `observe` check runs on the resolved parent Project and a denial returns `403` via the audit-first permission-denied path. A missing row surfaces as `404 credential_not_found`.  The projection is metadata-only and NEVER exposes the KV mount, KV path, KV version, or any secret material.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Credential identifier (UUIDv7). Bound on `/v1/credentials/{id}`, `/v1/credentials/{id}/revoke`, and `/v1/credentials/{id}/rotate` for the operator-facing OpenBao Credential Broker read + lifecycle surface.
	@return ApiGetCredentialRequest
*/
func (a *ProvisioningCredentialsAPIService) GetCredential(ctx context.Context, id string) ApiGetCredentialRequest {
	return ApiGetCredentialRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CredentialResponse
func (a *ProvisioningCredentialsAPIService) GetCredentialExecute(r ApiGetCredentialRequest) (*CredentialResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CredentialResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProvisioningCredentialsAPIService.GetCredential")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/credentials/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v PermissionDenied
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListProjectCredentialsRequest struct {
	ctx        context.Context
	ApiService ProvisioningCredentialsAPI
	id         string
	cursor     *string
	limit      *int32
}

// Opaque continuation token returned by a previous call&#39;s &#x60;next_cursor&#x60;. The encoding is HMAC-signed by the server so a tampered cursor surfaces as &#x60;400&#x60;.
func (r ApiListProjectCredentialsRequest) Cursor(cursor string) ApiListProjectCredentialsRequest {
	r.cursor = &cursor
	return r
}

// Maximum number of items to return in a single page. The handler clamps the value to [1, 200] before forwarding it to the read service.
func (r ApiListProjectCredentialsRequest) Limit(limit int32) ApiListProjectCredentialsRequest {
	r.limit = &limit
	return r
}

func (r ApiListProjectCredentialsRequest) Execute() (*CredentialList, *http.Response, error) {
	return r.ApiService.ListProjectCredentialsExecute(r)
}

/*
ListProjectCredentials List the OpenBao credentials owned by a Project.

Returns a creation-ordered page of credential lifecycle metadata for the Project identified by `{id}`. The handler runs a top-level `observe` ReBAC check on the parent Project BEFORE the persistence read, then layers a per-row `observe` filter on top so the response items are the subset of the persistence- level page the caller is authorised to see.  The projection is metadata-only: it carries the credential identity, owning Project, version, lifecycle timestamps, and a derived status. It NEVER exposes the KV mount, KV path, KV version, or any secret material — the storage location is deliberately omitted as a storage-internal detail.  The pagination cursor is HMAC-signed and bound to the per-(caller, pepper) pseudonym, so a cursor minted by one principal cannot be replayed by another — the cross-caller replay surfaces as `403 cursor_binding_mismatch`. A tampered envelope or unknown version byte stays on `400 invalid_cursor`.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Project identifier (UUIDv7). Bound on `/v1/projects/{id}` for the tenancy CRUD surface and on `/v1/projects/{id}/credentials` for the operator-facing OpenBao Credential Broker inventory list.
	@return ApiListProjectCredentialsRequest
*/
func (a *ProvisioningCredentialsAPIService) ListProjectCredentials(ctx context.Context, id string) ApiListProjectCredentialsRequest {
	return ApiListProjectCredentialsRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CredentialList
func (a *ProvisioningCredentialsAPIService) ListProjectCredentialsExecute(r ApiListProjectCredentialsRequest) (*CredentialList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CredentialList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProvisioningCredentialsAPIService.ListProjectCredentials")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/projects/{id}/credentials"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.cursor != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cursor", r.cursor, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int32 = 50
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", defaultValue, "form", "")
		r.limit = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v PermissionDenied
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRevokeCredentialRequest struct {
	ctx                     context.Context
	ApiService              ProvisioningCredentialsAPI
	id                      string
	credentialRevokeRequest *CredentialRevokeRequest
}

func (r ApiRevokeCredentialRequest) CredentialRevokeRequest(credentialRevokeRequest CredentialRevokeRequest) ApiRevokeCredentialRequest {
	r.credentialRevokeRequest = &credentialRevokeRequest
	return r
}

func (r ApiRevokeCredentialRequest) Execute() (*CredentialResponse, *http.Response, error) {
	return r.ApiService.RevokeCredentialExecute(r)
}

/*
RevokeCredential Revoke a credential.

Revokes the credential identified by `{id}`. The handler reads the row to resolve the parent Project, runs the `manage` ReBAC check on that Project, then delegates to the Credential Broker Custodian which stamps `revoked_at` and appends a `CredentialRevoked` outbox event in a single transaction.  Revocation is idempotent: revoking an already-revoked credential returns `200` with the unchanged metadata rather than an error. The response carries the metadata-only projection showing the populated `revoked_at`.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Credential identifier (UUIDv7). Bound on `/v1/credentials/{id}`, `/v1/credentials/{id}/revoke`, and `/v1/credentials/{id}/rotate` for the operator-facing OpenBao Credential Broker read + lifecycle surface.
	@return ApiRevokeCredentialRequest
*/
func (a *ProvisioningCredentialsAPIService) RevokeCredential(ctx context.Context, id string) ApiRevokeCredentialRequest {
	return ApiRevokeCredentialRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CredentialResponse
func (a *ProvisioningCredentialsAPIService) RevokeCredentialExecute(r ApiRevokeCredentialRequest) (*CredentialResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CredentialResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProvisioningCredentialsAPIService.RevokeCredential")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/credentials/{id}/revoke"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.credentialRevokeRequest == nil {
		return localVarReturnValue, nil, reportError("credentialRevokeRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.credentialRevokeRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v PermissionDenied
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 413 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRotateCredentialRequest struct {
	ctx                     context.Context
	ApiService              ProvisioningCredentialsAPI
	id                      string
	credentialRotateRequest *CredentialRotateRequest
}

func (r ApiRotateCredentialRequest) CredentialRotateRequest(credentialRotateRequest CredentialRotateRequest) ApiRotateCredentialRequest {
	r.credentialRotateRequest = &credentialRotateRequest
	return r
}

func (r ApiRotateCredentialRequest) Execute() (*CredentialResponse, *http.Response, error) {
	return r.ApiService.RotateCredentialExecute(r)
}

/*
RotateCredential Rotate a credential's underlying secret.

Rotates the credential identified by `{id}`. The handler reads the row to resolve the parent Project, runs the `manage` ReBAC check on that Project, then delegates to the Credential Broker Custodian which writes the new secret material into OpenBao KV-v2 under a compare-and-swap guard, bumps the broker-row version, and appends a `CredentialRotated` outbox event in a single transaction.  The caller supplies `expected_version` — the broker-row version it observed via a prior read. A mismatch surfaces as `409 credential_cas_conflict` so two concurrent rotations fail closed. Rotating a revoked credential is rejected with `409 credential_revoked`.  Secret material is accepted INBOUND in the request body but is NEVER returned: the response is the same metadata-only projection every other read surface returns, with the bumped `version` and refreshed `expires_at`.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Credential identifier (UUIDv7). Bound on `/v1/credentials/{id}`, `/v1/credentials/{id}/revoke`, and `/v1/credentials/{id}/rotate` for the operator-facing OpenBao Credential Broker read + lifecycle surface.
	@return ApiRotateCredentialRequest
*/
func (a *ProvisioningCredentialsAPIService) RotateCredential(ctx context.Context, id string) ApiRotateCredentialRequest {
	return ApiRotateCredentialRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CredentialResponse
func (a *ProvisioningCredentialsAPIService) RotateCredentialExecute(r ApiRotateCredentialRequest) (*CredentialResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CredentialResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProvisioningCredentialsAPIService.RotateCredential")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/credentials/{id}/rotate"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.credentialRotateRequest == nil {
		return localVarReturnValue, nil, reportError("credentialRotateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.credentialRotateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v PermissionDenied
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 413 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
