/*
plexsphere API

HTTP contract for plexsphere's meta endpoints (health, version, self-describing OpenAPI), the identity sign-in / token endpoints , and the admin IdP-binding management surface. The specification is the single source of truth — server stubs, clients, and documentation are generated from this file .  CSRF defence-in-depth (issue #181): every state-changing cookie-authenticated `/v1/_*` request (`POST`, `PATCH`, `PUT`, `DELETE`) is required to carry both an Origin / Sec-Fetch-Site signal AND echo the `plexsphere_csrf` cookie value in the `X-Plexsphere-CSRF` header. Violations surface as `403 application/problem+json` with `code` ∈ { `csrf-token-mismatch`, `csrf-origin-mismatch`, `csrf-origin-not-configured` }. Bearer-authenticated requests (`Authorization: Bearer …`) are exempt because the bearer scheme is not auto-attached by browsers; the sign-in surface (`/v1/auth/_*`) is exempt because it cannot carry a Principal yet.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package plexsphere

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

type CapacityAPI interface {

	/*
		GetDomainCapacity Return the capacity-and-scale snapshot for a Domain.

		Returns the latest per-Domain capacity snapshot the platform collector samples on a fixed interval: one `used / target` reading for each of the six catalogued capacity dimensions (`nodes`, `sse_fanout`, `secret_reads`, `mediated_sessions`, `observability_ingest`, `action_executions`). The Dashboard capacity view and operators reading scale headroom consume this pull.  The handler:    1. Authenticates the caller and rejects requests without a      resolved Principal with 401.   2. Checks the `domain-view` ReBAC relation on the addressed Domain      BEFORE reading the snapshot so the endpoint cannot be used as a      Domain-id oracle; an unauthorised caller receives 403.   3. Returns the snapshot with 200 once the collector has sampled at      least once. Before the first sample completes the snapshot is      unavailable and the handler returns 503      `capacity_snapshot_unavailable` with a `Retry-After` header.  DEFERRED-WIRING POSTURE: until the production composition root supplies the collector-backed snapshot provider and the ReBAC RelationChecker, every request returns 501 so log scrapers can alert on the deferred-wiring state.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param domainId Owning Domain. The Platform Audit Log is per-Domain by residency contract — cross-Domain decisions land in EACH affected Domain's chain, never on a shared system chain . Every audit endpoint requires the Domain identifier in the path.
		@return ApiGetDomainCapacityRequest
	*/
	GetDomainCapacity(ctx context.Context, domainId string) ApiGetDomainCapacityRequest

	// GetDomainCapacityExecute executes the request
	//  @return DomainCapacitySnapshot
	GetDomainCapacityExecute(r ApiGetDomainCapacityRequest) (*DomainCapacitySnapshot, *http.Response, error)
}

// CapacityAPIService CapacityAPI service
type CapacityAPIService service

type ApiGetDomainCapacityRequest struct {
	ctx        context.Context
	ApiService CapacityAPI
	domainId   string
}

func (r ApiGetDomainCapacityRequest) Execute() (*DomainCapacitySnapshot, *http.Response, error) {
	return r.ApiService.GetDomainCapacityExecute(r)
}

/*
GetDomainCapacity Return the capacity-and-scale snapshot for a Domain.

Returns the latest per-Domain capacity snapshot the platform collector samples on a fixed interval: one `used / target` reading for each of the six catalogued capacity dimensions (`nodes`, `sse_fanout`, `secret_reads`, `mediated_sessions`, `observability_ingest`, `action_executions`). The Dashboard capacity view and operators reading scale headroom consume this pull.  The handler:    1. Authenticates the caller and rejects requests without a      resolved Principal with 401.   2. Checks the `domain-view` ReBAC relation on the addressed Domain      BEFORE reading the snapshot so the endpoint cannot be used as a      Domain-id oracle; an unauthorised caller receives 403.   3. Returns the snapshot with 200 once the collector has sampled at      least once. Before the first sample completes the snapshot is      unavailable and the handler returns 503      `capacity_snapshot_unavailable` with a `Retry-After` header.  DEFERRED-WIRING POSTURE: until the production composition root supplies the collector-backed snapshot provider and the ReBAC RelationChecker, every request returns 501 so log scrapers can alert on the deferred-wiring state.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param domainId Owning Domain. The Platform Audit Log is per-Domain by residency contract — cross-Domain decisions land in EACH affected Domain's chain, never on a shared system chain . Every audit endpoint requires the Domain identifier in the path.
	@return ApiGetDomainCapacityRequest
*/
func (a *CapacityAPIService) GetDomainCapacity(ctx context.Context, domainId string) ApiGetDomainCapacityRequest {
	return ApiGetDomainCapacityRequest{
		ApiService: a,
		ctx:        ctx,
		domainId:   domainId,
	}
}

// Execute executes the request
//
//	@return DomainCapacitySnapshot
func (a *CapacityAPIService) GetDomainCapacityExecute(r ApiGetDomainCapacityRequest) (*DomainCapacitySnapshot, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *DomainCapacitySnapshot
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CapacityAPIService.GetDomainCapacity")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/domains/{domainId}/capacity"
	localVarPath = strings.Replace(localVarPath, "{"+"domainId"+"}", url.PathEscape(parameterValueToString(r.domainId, "domainId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v PermissionDenied
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 501 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 503 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
