/*
plexsphere API

HTTP contract for plexsphere's meta endpoints (health, version, self-describing OpenAPI), the identity sign-in / token endpoints , and the admin IdP-binding management surface. The specification is the single source of truth — server stubs, clients, and documentation are generated from this file .  CSRF defence-in-depth (issue #181): every state-changing cookie-authenticated `/v1/_*` request (`POST`, `PATCH`, `PUT`, `DELETE`) is required to carry both an Origin / Sec-Fetch-Site signal AND echo the `plexsphere_csrf` cookie value in the `X-Plexsphere-CSRF` header. Violations surface as `403 application/problem+json` with `code` ∈ { `csrf-token-mismatch`, `csrf-origin-mismatch`, `csrf-origin-not-configured` }. Bearer-authenticated requests (`Authorization: Bearer …`) are exempt because the bearer scheme is not auto-attached by browsers; the sign-in surface (`/v1/auth/_*`) is exempt because it cannot carry a Principal yet.

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package plexsphere

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)

type BlueprintCatalogAPI interface {

	/*
		BrowseCatalogSource Browse the Blueprints a catalog source offers.

		Resolves the registered catalog source's OCI bundle and returns the Blueprints it offers, without importing anything. This is a read-through: nothing is persisted, so the scope-parent `read` check is the only gate. The handler resolves the source first to learn its scope. A missing source surfaces as `404 catalog_source_not_found`; a missing OCI artifact surfaces as `404 catalog_artifact_not_found`; a transient or malformed upstream registry surfaces as `502 catalog_upstream_error`.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param id Catalog source identifier (UUIDv7). Bound on the `/v1/blueprint-catalogs/{id}` family — get, deregister, browse, and import.
		@return ApiBrowseCatalogSourceRequest
	*/
	BrowseCatalogSource(ctx context.Context, id string) ApiBrowseCatalogSourceRequest

	// BrowseCatalogSourceExecute executes the request
	//  @return CatalogBrowseResponse
	BrowseCatalogSourceExecute(r ApiBrowseCatalogSourceRequest) (*CatalogBrowseResponse, *http.Response, error)

	/*
		DeregisterCatalogSource Deregister a Blueprint catalog source.

		Deregisters the catalog source identified by `{id}`. Deregistration orphans, rather than deletes, any Blueprints already imported from the source: their provenance catalog id is cleared while the imported versions stay in place. The handler resolves the source first to learn its scope, then authorises the caller for `manage` on the scope parent (`platform#manage` or `domain#manage`). A missing source surfaces as `404 catalog_source_not_found`.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param id Catalog source identifier (UUIDv7). Bound on the `/v1/blueprint-catalogs/{id}` family — get, deregister, browse, and import.
		@return ApiDeregisterCatalogSourceRequest
	*/
	DeregisterCatalogSource(ctx context.Context, id string) ApiDeregisterCatalogSourceRequest

	// DeregisterCatalogSourceExecute executes the request
	DeregisterCatalogSourceExecute(r ApiDeregisterCatalogSourceRequest) (*http.Response, error)

	/*
		GetCatalogSource Fetch a Blueprint catalog source by identifier.

		Returns the catalog source identified by `{id}`. The handler resolves the source first to learn its scope, then authorises the caller for `read` on the scope parent — the platform singleton (`platform#read`) for a catalog-global source, the owning Domain (`domain#read`) for a Domain-scoped source. A missing source surfaces as `404 catalog_source_not_found`; an unauthorised caller therefore receives `403` only after the source was found.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param id Catalog source identifier (UUIDv7). Bound on the `/v1/blueprint-catalogs/{id}` family — get, deregister, browse, and import.
		@return ApiGetCatalogSourceRequest
	*/
	GetCatalogSource(ctx context.Context, id string) ApiGetCatalogSourceRequest

	// GetCatalogSourceExecute executes the request
	//  @return CatalogSourceResponse
	GetCatalogSourceExecute(r ApiGetCatalogSourceRequest) (*CatalogSourceResponse, *http.Response, error)

	/*
		ImportFromCatalogSource Import Blueprints from a catalog source.

		Imports a selected subset of, or all of, the Blueprints a registered catalog source offers into the Blueprint Catalog. The request supplies exactly one of `slugs` (a non-empty subset) or `all: true`; supplying neither, both, or an empty `slugs` array surfaces as `400 invalid_import_request`.  The handler resolves the source first to learn its scope, then authorises the caller for `manage` on the scope parent (`platform#manage` or `domain#manage`). Import is per-Blueprint: the response `outcomes` array reports each requested slug's status — `imported`, `unchanged`, `drift`, `conflict`, or `error`. A per-Blueprint conflict or fetch failure does not abort the batch; only a whole-batch precondition failure (the source not existing, or the registry listing failing on an `all` import) returns an error response.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@param id Catalog source identifier (UUIDv7). Bound on the `/v1/blueprint-catalogs/{id}` family — get, deregister, browse, and import.
		@return ApiImportFromCatalogSourceRequest
	*/
	ImportFromCatalogSource(ctx context.Context, id string) ApiImportFromCatalogSourceRequest

	// ImportFromCatalogSourceExecute executes the request
	//  @return ImportResult
	ImportFromCatalogSourceExecute(r ApiImportFromCatalogSourceRequest) (*ImportResult, *http.Response, error)

	/*
		ListCatalogSources List the registered Blueprint catalog sources.

		Returns every registered catalog source the caller is authorised to see. The set is small, operator-curated configuration returned whole, with no pagination. Per-row visibility is layered on top: a source whose scope-parent `read` relation the caller does not hold is filtered out, so the response items are a subset of the registered set.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiListCatalogSourcesRequest
	*/
	ListCatalogSources(ctx context.Context) ApiListCatalogSourcesRequest

	// ListCatalogSourcesExecute executes the request
	//  @return CatalogSourceList
	ListCatalogSourcesExecute(r ApiListCatalogSourcesRequest) (*CatalogSourceList, *http.Response, error)

	/*
		RegisterCatalogSource Register a Blueprint catalog source.

		Registers an external OCI catalog the importer can later browse and import Blueprints from. The aggregate enforces every invariant: a non-empty `name`, an `oci_reference` pinned to exactly one of a mutable `tag` or an immutable `digest`, a well-formed `verification` policy, and a `tracking` policy whose `track-tag` mode requires a tag-pinned reference.  The handler authorises the caller against the source's scope parent BEFORE invoking the service: a catalog-global source (no `domain_id`) requires the platform-level `manage` relation (`platform#manage`); a Domain-scoped source requires `manage` on the owning Domain (`domain#manage`). The body is decoded before the authz check because the scope to gate on is carried in the body, but the check runs before the service persists anything.

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return ApiRegisterCatalogSourceRequest
	*/
	RegisterCatalogSource(ctx context.Context) ApiRegisterCatalogSourceRequest

	// RegisterCatalogSourceExecute executes the request
	//  @return CatalogSourceResponse
	RegisterCatalogSourceExecute(r ApiRegisterCatalogSourceRequest) (*CatalogSourceResponse, *http.Response, error)
}

// BlueprintCatalogAPIService BlueprintCatalogAPI service
type BlueprintCatalogAPIService service

type ApiBrowseCatalogSourceRequest struct {
	ctx        context.Context
	ApiService BlueprintCatalogAPI
	id         string
}

func (r ApiBrowseCatalogSourceRequest) Execute() (*CatalogBrowseResponse, *http.Response, error) {
	return r.ApiService.BrowseCatalogSourceExecute(r)
}

/*
BrowseCatalogSource Browse the Blueprints a catalog source offers.

Resolves the registered catalog source's OCI bundle and returns the Blueprints it offers, without importing anything. This is a read-through: nothing is persisted, so the scope-parent `read` check is the only gate. The handler resolves the source first to learn its scope. A missing source surfaces as `404 catalog_source_not_found`; a missing OCI artifact surfaces as `404 catalog_artifact_not_found`; a transient or malformed upstream registry surfaces as `502 catalog_upstream_error`.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Catalog source identifier (UUIDv7). Bound on the `/v1/blueprint-catalogs/{id}` family — get, deregister, browse, and import.
	@return ApiBrowseCatalogSourceRequest
*/
func (a *BlueprintCatalogAPIService) BrowseCatalogSource(ctx context.Context, id string) ApiBrowseCatalogSourceRequest {
	return ApiBrowseCatalogSourceRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CatalogBrowseResponse
func (a *BlueprintCatalogAPIService) BrowseCatalogSourceExecute(r ApiBrowseCatalogSourceRequest) (*CatalogBrowseResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CatalogBrowseResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BlueprintCatalogAPIService.BrowseCatalogSource")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/blueprint-catalogs/{id}/blueprints"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v PermissionDenied
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 502 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeregisterCatalogSourceRequest struct {
	ctx        context.Context
	ApiService BlueprintCatalogAPI
	id         string
}

func (r ApiDeregisterCatalogSourceRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeregisterCatalogSourceExecute(r)
}

/*
DeregisterCatalogSource Deregister a Blueprint catalog source.

Deregisters the catalog source identified by `{id}`. Deregistration orphans, rather than deletes, any Blueprints already imported from the source: their provenance catalog id is cleared while the imported versions stay in place. The handler resolves the source first to learn its scope, then authorises the caller for `manage` on the scope parent (`platform#manage` or `domain#manage`). A missing source surfaces as `404 catalog_source_not_found`.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Catalog source identifier (UUIDv7). Bound on the `/v1/blueprint-catalogs/{id}` family — get, deregister, browse, and import.
	@return ApiDeregisterCatalogSourceRequest
*/
func (a *BlueprintCatalogAPIService) DeregisterCatalogSource(ctx context.Context, id string) ApiDeregisterCatalogSourceRequest {
	return ApiDeregisterCatalogSourceRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
func (a *BlueprintCatalogAPIService) DeregisterCatalogSourceExecute(r ApiDeregisterCatalogSourceRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodDelete
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BlueprintCatalogAPIService.DeregisterCatalogSource")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/blueprint-catalogs/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v PermissionDenied
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetCatalogSourceRequest struct {
	ctx        context.Context
	ApiService BlueprintCatalogAPI
	id         string
}

func (r ApiGetCatalogSourceRequest) Execute() (*CatalogSourceResponse, *http.Response, error) {
	return r.ApiService.GetCatalogSourceExecute(r)
}

/*
GetCatalogSource Fetch a Blueprint catalog source by identifier.

Returns the catalog source identified by `{id}`. The handler resolves the source first to learn its scope, then authorises the caller for `read` on the scope parent — the platform singleton (`platform#read`) for a catalog-global source, the owning Domain (`domain#read`) for a Domain-scoped source. A missing source surfaces as `404 catalog_source_not_found`; an unauthorised caller therefore receives `403` only after the source was found.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Catalog source identifier (UUIDv7). Bound on the `/v1/blueprint-catalogs/{id}` family — get, deregister, browse, and import.
	@return ApiGetCatalogSourceRequest
*/
func (a *BlueprintCatalogAPIService) GetCatalogSource(ctx context.Context, id string) ApiGetCatalogSourceRequest {
	return ApiGetCatalogSourceRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return CatalogSourceResponse
func (a *BlueprintCatalogAPIService) GetCatalogSourceExecute(r ApiGetCatalogSourceRequest) (*CatalogSourceResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CatalogSourceResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BlueprintCatalogAPIService.GetCatalogSource")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/blueprint-catalogs/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v PermissionDenied
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiImportFromCatalogSourceRequest struct {
	ctx           context.Context
	ApiService    BlueprintCatalogAPI
	id            string
	importRequest *ImportRequest
}

func (r ApiImportFromCatalogSourceRequest) ImportRequest(importRequest ImportRequest) ApiImportFromCatalogSourceRequest {
	r.importRequest = &importRequest
	return r
}

func (r ApiImportFromCatalogSourceRequest) Execute() (*ImportResult, *http.Response, error) {
	return r.ApiService.ImportFromCatalogSourceExecute(r)
}

/*
ImportFromCatalogSource Import Blueprints from a catalog source.

Imports a selected subset of, or all of, the Blueprints a registered catalog source offers into the Blueprint Catalog. The request supplies exactly one of `slugs` (a non-empty subset) or `all: true`; supplying neither, both, or an empty `slugs` array surfaces as `400 invalid_import_request`.  The handler resolves the source first to learn its scope, then authorises the caller for `manage` on the scope parent (`platform#manage` or `domain#manage`). Import is per-Blueprint: the response `outcomes` array reports each requested slug's status — `imported`, `unchanged`, `drift`, `conflict`, or `error`. A per-Blueprint conflict or fetch failure does not abort the batch; only a whole-batch precondition failure (the source not existing, or the registry listing failing on an `all` import) returns an error response.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Catalog source identifier (UUIDv7). Bound on the `/v1/blueprint-catalogs/{id}` family — get, deregister, browse, and import.
	@return ApiImportFromCatalogSourceRequest
*/
func (a *BlueprintCatalogAPIService) ImportFromCatalogSource(ctx context.Context, id string) ApiImportFromCatalogSourceRequest {
	return ApiImportFromCatalogSourceRequest{
		ApiService: a,
		ctx:        ctx,
		id:         id,
	}
}

// Execute executes the request
//
//	@return ImportResult
func (a *BlueprintCatalogAPIService) ImportFromCatalogSourceExecute(r ApiImportFromCatalogSourceRequest) (*ImportResult, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *ImportResult
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BlueprintCatalogAPIService.ImportFromCatalogSource")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/blueprint-catalogs/{id}/import"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.importRequest == nil {
		return localVarReturnValue, nil, reportError("importRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.importRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v PermissionDenied
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 413 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 502 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiListCatalogSourcesRequest struct {
	ctx        context.Context
	ApiService BlueprintCatalogAPI
}

func (r ApiListCatalogSourcesRequest) Execute() (*CatalogSourceList, *http.Response, error) {
	return r.ApiService.ListCatalogSourcesExecute(r)
}

/*
ListCatalogSources List the registered Blueprint catalog sources.

Returns every registered catalog source the caller is authorised to see. The set is small, operator-curated configuration returned whole, with no pagination. Per-row visibility is layered on top: a source whose scope-parent `read` relation the caller does not hold is filtered out, so the response items are a subset of the registered set.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiListCatalogSourcesRequest
*/
func (a *BlueprintCatalogAPIService) ListCatalogSources(ctx context.Context) ApiListCatalogSourcesRequest {
	return ApiListCatalogSourcesRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CatalogSourceList
func (a *BlueprintCatalogAPIService) ListCatalogSourcesExecute(r ApiListCatalogSourcesRequest) (*CatalogSourceList, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodGet
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CatalogSourceList
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BlueprintCatalogAPIService.ListCatalogSources")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/blueprint-catalogs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRegisterCatalogSourceRequest struct {
	ctx                        context.Context
	ApiService                 BlueprintCatalogAPI
	catalogSourceCreateRequest *CatalogSourceCreateRequest
}

func (r ApiRegisterCatalogSourceRequest) CatalogSourceCreateRequest(catalogSourceCreateRequest CatalogSourceCreateRequest) ApiRegisterCatalogSourceRequest {
	r.catalogSourceCreateRequest = &catalogSourceCreateRequest
	return r
}

func (r ApiRegisterCatalogSourceRequest) Execute() (*CatalogSourceResponse, *http.Response, error) {
	return r.ApiService.RegisterCatalogSourceExecute(r)
}

/*
RegisterCatalogSource Register a Blueprint catalog source.

Registers an external OCI catalog the importer can later browse and import Blueprints from. The aggregate enforces every invariant: a non-empty `name`, an `oci_reference` pinned to exactly one of a mutable `tag` or an immutable `digest`, a well-formed `verification` policy, and a `tracking` policy whose `track-tag` mode requires a tag-pinned reference.  The handler authorises the caller against the source's scope parent BEFORE invoking the service: a catalog-global source (no `domain_id`) requires the platform-level `manage` relation (`platform#manage`); a Domain-scoped source requires `manage` on the owning Domain (`domain#manage`). The body is decoded before the authz check because the scope to gate on is carried in the body, but the check runs before the service persists anything.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiRegisterCatalogSourceRequest
*/
func (a *BlueprintCatalogAPIService) RegisterCatalogSource(ctx context.Context) ApiRegisterCatalogSourceRequest {
	return ApiRegisterCatalogSourceRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
//
//	@return CatalogSourceResponse
func (a *BlueprintCatalogAPIService) RegisterCatalogSourceExecute(r ApiRegisterCatalogSourceRequest) (*CatalogSourceResponse, *http.Response, error) {
	var (
		localVarHTTPMethod  = http.MethodPost
		localVarPostBody    interface{}
		formFiles           []formFile
		localVarReturnValue *CatalogSourceResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BlueprintCatalogAPIService.RegisterCatalogSource")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/v1/blueprint-catalogs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.catalogSourceCreateRequest == nil {
		return localVarReturnValue, nil, reportError("catalogSourceCreateRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.catalogSourceCreateRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v PermissionDenied
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 413 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Problem
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
			newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
